
@import "../../../../assets/mixins/tipografia.scss";
@import "../../../../assets/mixins/media-breackpoints";

.title {
  @include titleMobile;

  @include medium {
    @include titleTablet;
  }
  @include large {
    @include titleDesktop;
  }
}

.subtile {
  @include bodyMobile;

  @include medium {
    @include bodyTablet;
  }
  @include large {
    @include subtitleDesktop;
  }
}
