<ion-content class="main-container" color="medium" >
  <ion-grid>
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        sizeXl="4" offsetXl="4"
        class="ion-text-center">
        <figure class="main-container__logo-container">
          <ion-img src="/assets/images/empty-state/empty-state.png" alt="Imagen del logo "></ion-img>
        </figure>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        class="ion-text-center">
        <ion-text class="ion-padding-bottom">
          <h1 class="title">
            Estamos trabajando en la sección de {{ruta | uppercase}}.
          </h1>
        </ion-text>
        <ion-text class="subtitle">
          <h2 class="subtitle">
            ¡Muy pronto te traeremos sorpresas!
          </h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
