<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start"> {{ opt === 'update'? 'Editar Medidor': 'Cambiar Estado'}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium">
  <form class="ion-padding" [formGroup]="measurerForm" (ngSubmit)="saveChanges()">
    <ion-text color="danger" *ngIf="optionPartner === 'statusPartner'">
      Al cambiar el estado de un Socio tambien entrara en Inactivo o Activo su medidor
    </ion-text>
    <h3 *ngIf="optionPartner === 'statusPartner'">
      {{ dataPartner?'Socio: '+ dataPartner.last_name  +  dataPartner.name: ' ' }}
    </h3>
    <ion-title
      class="ion-margin-bottom"
      *ngIf="opt !== 'update'"
      >
      <!-- Medidor: {{ data?data.meter_number: dataPartner.meters[0].meter_number }} -->
    </ion-title>
    <h2>
      {{ opt === 'update'? 'Los datos con * son obligatorios' : (optionPartner === 'statusPartner'? '¿Por qué entrará en inactivo este Socio?' : '¿Por qué entrará en inactivo este medidor?') }}
    </h2>
    <ion-item
      class="ion-margin-bottom"
      *ngIf="opt === 'update'"
    >
      <ion-label position="floating">N° de Medidor. <ion-text color="danger">*</ion-text>:</ion-label>
      <ion-input
        type="text"
        formControlName="water_meter_number"
        required>
      </ion-input>
    </ion-item>

    <ion-item
      class="ion-margin-bottom"
      *ngIf="opt === 'update'"
    >
      <ion-label position="floating">Costo Unitario Bs. <ion-text color="danger">*</ion-text>:</ion-label>
      <ion-input
        type="number"
        formControlName="unit_cost"
        (ionChange)="validateDecimal($event)"
        required
        *ngIf="opt === 'update'"

        >
      </ion-input>
    </ion-item>

    <ion-item
     class="ion-margin-bottom"
     *ngIf="opt === 'update'"
    >
      <ion-label position="floating">Fecha de compra. <ion-text color="danger">*</ion-text>:</ion-label>
      <ion-icon slot="end" name="calendar-outline" color="primary"></ion-icon>
      <ion-datetime
        display-format="DD/MM/YYYY"
        [max]="today"
        doneText="Ok"
        cancelText="Cancelar"
        formControlName="bought">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="opt !== 'update' && opt !== 'changeStatus' && optionPartner !=='statusPartner'" class="ion-margin-bottom" color="medium">
      <ion-label slot="start">Estado del medidor:</ion-label>
      <ion-toggle
        mode="ios"
        slot="end"
        formControlName="active">
      </ion-toggle>
    </ion-item>

    <ion-item
      class="ion-margin-bottom"
      *ngIf=" measurerForm.controls.active.value === true ? false : true && (opt !== 'update' || optionPartner ==='statusPartner') "
      >
      <ion-label position="floating">Observación:</ion-label>
      <ion-select
        interface="popover"
        mode="ios"
        placeholder="Seleccione una observación"
        formControlName="selection">
        <ion-select-option value="Disponible">Disponible</ion-select-option>
        <ion-select-option value="En Corte">En Corte</ion-select-option>
        <ion-select-option value="Otro">Otro...</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item
      class="ion-margin-bottom"
      *ngIf="measurerForm.controls.selection.value === 'Otro' ? true : false"
      >
      <ion-textarea
        type="text"
        placeholder="Ingrese una observacón para el medidior"
        formControlName="observation"
      >
      </ion-textarea>
    </ion-item>

    <ion-button
      class="ion-text-capitalize ion-margin-bottom"
      type="submit"
      expand="block"
      shape="round"
      [disabled]="!measurerForm.valid"
      >
      {{ opt === 'update'? 'Guardar Datos': 'Cambiar Estado' }}
    </ion-button>

    <ion-progress-bar
      *ngIf="state"
      type="indeterminate"
      buffer="0.5"
      reversed="true"
      color="primary"
      ></ion-progress-bar>
  </form>

</ion-content>