<ion-header>

  <ion-toolbar *ngIf="user" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-margin-start"> {{ title | titlecase }} </ion-title>
    <ion-text slot="end" class="ion-hide-md-down">{{ user.name | titlecase}}</ion-text>
    <ion-item class="ion-margin-start item-avatar__container" button color="dark" slot="end" [matMenuTriggerFor]="menu">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-icon name="chevron-down-outline" class="ion-hide-md-down"></ion-icon>
    </ion-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        Cerrar Sesión
      </button>
    </mat-menu>
  </ion-toolbar>
</ion-header>

<!-- <swal
  #logoutSwal
  title="¿Estás seguro de cerrar sesión?"
  icon="question"
  confirmButtonText="Confirmar"
  [reverseButtons]="true"
  [showCancelButton]="true"
  [focusCancel]="false"
  [backdrop]="false"
  (confirm)="logout()"
  >
</swal> -->