.header-container {
  background: #041838;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .divider {
    width: 1px;
    height: 150px;
    border: 1px solid #0284C9;
  }

  .header-list {
    &__title-business {
      font-size: 24px;
      line-height: 33px;
      font-family: Open Sans;
      font-style: italic;
      font-weight: bold;
    }

    &__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      font-family: Montserrat;
      font-style: normal;
      text-align: right;
    }
  }
  li {
    list-style: none;
    margin-bottom: 16px;
  }

  .logo-title {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08em;

  }

  .logo {
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }
}

.content {
  padding: 0px 40px;
  .chart-pdf {
    margin: 30px auto;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
  }

  .table-subheader {
    padding: 20px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #0284C9;
    border-top: 1px solid #0284C9;
    color: black;
    display: flex;
    justify-content: space-between;
  }
}

.info {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .mat-icon {
    margin-right: 10px !important;
  }
}

.text-rigth {
  justify-content: flex-end !important;
  .mat-icon {
    margin-left: 10px !important;
  }
}

.mat-column-state {
  max-width: 100px;
}
