<header class="header-container">
  <div class="header-list">
    <ul>
      <li class="header-list__title-business">OTB-SAN PABLO</li>
      <li class="info">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="icon place">location_on</mat-icon>
        Cochabamba - Punata, Bolivia
      </li>
      <li class="info">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="icon place">phone_iphone</mat-icon>
        70350792
      </li>
      <li class="info">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="icon place">email</mat-icon>
        otbsanpablo@gmail.com
      </li>
    </ul>
  </div>
  <div class="divider"></div>
  <div class="header-list">
    <ul>
      <li class="header-list__title">Resumen de Medidores</li>
      <li class="info text-rigth">
        {{ date | date:'fullDate' | titlecase }}
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="icon place">file_download</mat-icon>
      </li>
      <li class="info text-rigth logo-title">
        @WaterSoft
        <img class="logo" src="assets/images/login/logo.png" alt="logo-container">
      </li>
    </ul>
  </div>
</header>

<div class="content">
  <article class="chart-pdf" id="pie-chart-parent">
    <!-- (window:resize)="onResize($event)" -->
    <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
  </article>
  <div class="table-subheader">
    <ul>
      <li class="info">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="{2:label} icon">calendar_today</mat-icon>
        Gestion: {{gestion}}
      </li>
    </ul>
    <ul>
      <li class="info text-rigth">
        Pagina: {{page}}
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="{2:label} icon">find_in_page</mat-icon>
      </li>
    </ul>
  </div>

  <mat-table [dataSource]="data">
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>
        <strong>N° de Medidor</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.meter_number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="money">
      <mat-header-cell *matHeaderCellDef>
        <strong>Costo Unitario Bs.</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unit_cost | currency:' Bs.'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>
        <strong>Fecha de Compra</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bought | date | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="observation">
      <mat-header-cell *matHeaderCellDef>
        <strong>Observaciones</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.observation}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>
        <strong>Estado</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ion-toggle mode="ios" [checked]="element.active"></ion-toggle>
      </mat-cell>
    </ng-container>

    <!-- a-md-data-table-column -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns; index as i"
      [ngStyle]="{'background-color': calculateBackground(i)}"
    ></mat-row>
  </mat-table>
</div>
