<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start">Registrar nueva multa</ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium">
  <ion-progress-bar type="indeterminate" buffer="0.5" reversed="true" color="primary" *ngIf="state">
  </ion-progress-bar>
  <form class="ion-padding" [formGroup]="dataForm" (ngSubmit)="saveData()">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12">
          <ion-text>
            <h2>Los datos con <ion-text color="danger">*</ion-text> son obligatorios</h2>
          </ion-text>
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Descripción de la multa: <ion-text color="danger">*</ion-text>:</ion-label>
            <ion-textarea type="text"  inputmode="text" formControlName="description" required>
            </ion-textarea>
          </ion-item>

          <ion-item class="ion-margin-bottom ion-margin-top">
            <ion-label position="floating">Monto Bs. <ion-text color="danger">*</ion-text>:</ion-label>
            <ion-input type="number" formControlName="amount">
            </ion-input>
          </ion-item>

          <ion-button class="ion-text-capitalize" type="submit" expand="block" shape="round"
            [disabled]="!dataForm.valid">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
