<app-header></app-header>
<ion-toolbar class="toolbar-container">
  <ion-buttons slot="start">
    <ion-back-button
      defaultHref="/admin/socios"
      mode="md"
      color="primary"
    ></ion-back-button>
  </ion-buttons>
  <ion-title slot="start">Modificar Información del Socio</ion-title>
</ion-toolbar>

<ion-content color="medium">
  <br/>
  <mat-stepper
    *ngIf="partner"
    [orientation]="(isHandset$ | async) ? 'vertical':'horizontal'" class="has-margin-top--70">
    <mat-step
      #firstMatStep
      label="Datos Principales">
      <app-partners-first-step
        [partnerData]="partner"
        [firstMatStep]="firstMatStep"
        (firstDataEventEmitter)="getFirstData($event)"
        ></app-partners-first-step>
    </mat-step>

    <mat-step
      #SecondMatStep
      label="Datos Complementarios">
      <app-partners-second-step
        [partnerData]="partner"
        (secondDataEventEmitter)="getSecondData($event)"
      ></app-partners-second-step>
    <!-- <swal
      #succesSwal
      [swalOptions]="options">
    </swal> -->

    </mat-step>
  </mat-stepper>

</ion-content>
