<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start">Lista de Medidores</ion-title>
    <ion-button *ngIf="isContent" class="ion-text-capitalize ion-margin-end" slot="end" color="primary" shape="round"
      fill="outline" (click)="downloadAsPDF()">
      <ion-icon slot="start" name="download-outline"></ion-icon>
      Reporte
    </ion-button>
    <ion-button slot="end" color="primary" shape="round" class="ion-text-capitalize ion-hide-md-down"
      (click)="addMeasurer()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Nuevo medidor
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar *ngIf="state" type="indeterminate" reversed="true" color="primary" buffer="0.2">
  </ion-progress-bar>

  <ion-grid class="ion-padding has-margin-top--70 water-maters-grid-container">
    <ion-row *ngIf="single && false">
      <ion-col sizeSm="12" sizeMd="12" sizeLg="6" offsetLg="3">
        <article class="main-chart__container" id="pie-chart-parent">
          <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </article>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col class="col-container ion-margin-bottom" sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-item>
          <ion-label>Filtrar</ion-label>
          <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event)">
            <ion-select-option [value]="null">Todos</ion-select-option>
            <ion-select-option [value]="true">Activos</ion-select-option>
            <ion-select-option [value]="false">Inactivos</ion-select-option>
            <ion-select-option value="En Corte">En corte</ion-select-option>
            <ion-select-option value="Disponible">Disponibles</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col class="col-container ion-hide-md-down ion-margin-bottom" sizeXs="12" sizeMd="6">
        <ion-searchbar class="search-container" mode="md" placeholder="Ingrese N° de Medidor" animated type="text"
          autocomplete="on" [debounce]="250" (ionChange)="searchWaterMeter($event)">
          <!-- [(ngModel)]="meterNumber" -->
        </ion-searchbar>
      </ion-col>
      <ion-col class="col-container ion-margin-bottom ion-hide-sm-down" sizeXs="5" sizeSm="6" sizeMd="3">
        <ion-item class="item-select-options ion-no-padding">
          <app-date-picker (dateEventEmitter)="filterDate($event)" (resetEventEmitter)="reset($event)">
          </app-date-picker>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center has-height--100 has-overflow--hidden">
      <ng-container
        *ngIf="waterMeters && (waterMeters | filterWaterMeterByNumber: textToFilter ).length > 0;else emptyDataWaterMeters">
        <ion-col size="12">
          <app-water-mater-list [waterMeterList]="waterMeters | filterWaterMeterByNumber: textToFilter"
            (reloadEventEmitter)="getWaterMetersWithFilter()">
          </app-water-mater-list>
          <!-- <app-empty-search *ngIf="waterMeters && waterMeters.length === 0 && isEmptySearch"></app-empty-search> -->
          <!-- <mat-paginator *ngIf="paginator" (page)="changePage($event)" [length]="paginator.total"
          [pageSizeOptions]="[paginator.per_page]" aria-label="Select page">
        </mat-paginator> -->
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ng-template #emptyDataWaterMeterSearch>
    <app-empty-search></app-empty-search>
  </ng-template>

  <ng-template #emptyDataWaterMeters>
    <ng-container
      *ngIf="!!textToFilter.length || statusSelected !== null;then emptyDataWaterMeterSearch;else emptyDataContainer"></ng-container>
  </ng-template>

  <ng-template #emptyDataContainer>
    <app-empty-data [btnTitle]="'Agregar Nuevo Socio'" (btnEventEmitter)="addMeasurer()">
    </app-empty-data>
  </ng-template>

  <ion-fab class="ion-hide-md-up" vertical="bottom" horizontal="end" slot="fixed" (click)="addMeasurer()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="isDownload" style="display: block;" id="content" #content>
    <app-measurer-pdf [data]="waterMeters" [single]="single" [page]="page" [gestion]="year"></app-measurer-pdf>
  </div>

</ion-content>

<section *ngIf="state" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>

<div class="main-spinner__container" *ngIf="isDownload">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>