@import '../../../../../assets/scss/angular-material';
@import '../../../../../assets/mixins/helper';

@include chart-container;

.water-maters-grid-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: calc(100% - 56px);
}

.water-maters-grid-container ion-row:last-child {
  flex-grow: 1;
  max-height: 100%;

  ion-col {
    min-height: 100%;
    max-height: 100%;
  }
}

.col-container {
  border: 1px solid #b2b2b235;
}

.search-container {
  padding: 0px;
}

.mat-paginator {
  background-color: white;
  color: black;
}

.main-spinner__container {
  background-color: #00000030;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}