<div class="container">
  <form class="container-form" [formGroup]="meterAssignForm" (ngSubmit)="meterAssignToPartner()">
    <p class="ion-margin-bottom container-form__title">Necesitamos asignar un medidor a este socio...!</p>
    <div class="ion-margin-bottom">
      <mat-divider></mat-divider>
    </div>

    <p class="ion-margin-bottom ion-text-center subtitle">Seleccione un metodo de pago para la compra del Medidor</p>
    <p class="ion-margin-bottom ion-text-center subtitle">Precio del medidor {{waterMeterPrice | currency: ' Bs.'}}</p>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item class="ion-margin-bottom">
            <mat-form-field>
              <mat-label>Medidores Disponible:</mat-label>
              <mat-select formControlName="water_meter" placeholder="Elegir Medidor Disponible">
                <mat-option *ngFor="let waterMeter of listWaterMeter | waterMeterByActive" [value]="waterMeter"
                  (click)="updateQrData(waterMeter.id)">
                  {{ waterMeter.water_meter_number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-item>
          <!-- <ion-item class="ion-margin-bottom">
            <mat-form-field>
              <mat-label>Tipo de medidor:</mat-label>
              <mat-select formControlName="category" placeholder="Tipo de medidor">
                <mat-option [value]="'casa'">Casa Normal</mat-option>
                <mat-option [value]="'comercio'">Casa Comercial</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-item> -->
          <!-- <ion-list class="ion-margin-bottom list-container">
            <ion-radio-group formControlName="sold">
              <ion-row>
                <ion-col sizeXs="12" sizeLg="6">
                  <ion-item color="medium">
                    <ion-label>Medidor propio</ion-label>
                    <ion-radio [value]="false"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col sizeXs="12" sizeLg="6">
                  <ion-item color="medium">
                    <ion-label>Venta un solo pago </ion-label>
                    <ion-radio [value]="true"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list> -->
          <!-- <ion-col class="ion-margin-bottom" size="12" *ngIf="meterAssignForm.controls.sold.value === true">
            <ion-item>
              <ion-label position="floating">Fecha de Pago *:</ion-label>
              <ion-datetime
                formControlName="sale_date"
                display-format="DD/MM/YYYY"
                [max]="date"></ion-datetime>
              <ion-icon color="primary" slot="end" name="calendar-outline"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-list *ngIf="meterAssignForm.controls.sold.value === true" class="ion-margin-bottom list-container">
            <ion-radio-group formControlName="payment_way">
              <ion-item color="medium">
                <ion-label>Pago mediante banco (Comprobante)</ion-label>
                <ion-radio value="banco"></ion-radio>
              </ion-item>
              <ion-item color="medium">
                <ion-label>Pago presencial </ion-label>
                <ion-radio value="presencial"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-col class="ion-margin-bottom" *ngIf="meterAssignForm.controls.payment_way.value === 'banco'" size="12">
            <div class="ion-text-center">
              <ion-text color="dark">
                <h3>Subir fotrografia del comprobante</h3>
              </ion-text>
              <ion-fab-button class="ion-margin-bottom" (click)="fileUpload()">
                <ion-icon name="file-tray-full-outline"></ion-icon>
              </ion-fab-button>
            </div>
          </ion-col>-->
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12" sizeMd="6" offsetMd="3" sizeLg="12" offsetLg="0">
          <ion-button type="submit" expand="block" color="primary" shape="round">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>