::ng-deep .mat-select-placeholder {
  color: black;
}

::ng-deep .filter-date__container .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .filter-date__container .mat-form-field-underline {
  position: static !important;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0px
}

::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }
}

::ng-deep .mat-ripple {
  width: 50%;
}

::ng-deep .mat-tab-label-active {
  color: blue;
}

.filter-date__container {
  width: 100%;
  height: 49px;
  box-sizing: border-box;

  .mat-mdc-icon-button {
    padding-right: 0;
    padding-left: 0;
  }

  .mat-mdc-form-field-icon-suffix {
    display: flex;
  }
}

.item-select-options {
  .mat-mdc-form-field-focus-overlay {
    background-color: white;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }
}