@import '../../assets/mixins/media-breackpoints';

.has-hover-in:hover {
  background-color: #00000010 !important;
  cursor: pointer;
  animation: 0.4s;
}

.is-input {
  &--select {
    background: white;
    padding: 18px 12px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
  }

  &--searchbar {
    --border-radius: 8px;
  }
}

.has-display {
  &--flex {
    display: flex;

    &--column {
      flex-direction: column;
    }
  }
}

.has-border-radius {
  &--8 {
    border-radius: 8px;
  }
}

.has-margin-top {
  &--70 {
    margin-top: 56px;
  }
}

.has-height {
  &--100 {
    height: 100%;
  }
}

.has-overflow {
  &--hidden {
    overflow: hidden;
  }
}

.loading-spinner {
  width: 100%;
  height: 100%;
  background-color: #00000060;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-clickable {
  pointer-events: none;
  opacity: .7;
}

.expand-collapse-btn-container {
  position: absolute;
  right: 16px;
  bottom: 2px;
  width: 36px;

  @include medium {
    bottom: 50px;
  }

  ion-icon {
    width: 36px;
  }
}