@mixin input-ionic {
  ion-item {
    border-radius: 8px;
    ion-icon {
      margin-top: 20px;
    }
  }
}


.searchbar-search-icon.sc-ion-searchbar-md {
  --color: var(--ion-color-primary) !important;
}
