.main-chart__container .advanced-pie-legend {
  color: var(--ion-color-darks);
}

.chart-pdf .advanced-pie-legend {
  color: black;
  margin-top: 100px !important
}

.main-chart__container .advanced-pie-legend .legend-items-container .legend-items {
  display: flex;
  flex-wrap: wrap;
}

.main-chart__container .advanced-pie-legend .legend-items-container .legend-items .legend-item{
  flex-grow: 1;
}
