.sweet-btn {
  border-radius: 30px !important;
  width: 210px !important;
}

.confirm-btn__container {
  background-color: var(--ion-color-primary) !important;
}

.cancel-btn__container {
  background-color: var(--ion-color-tertiary) !important;
  border: none !important;
  color: #3A4651 !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  height: 100vh;
  backdrop-filter: blur(2px);
}