.is-text {
  font-family: "Montserrat";
  font-style: normal;

  &--normal {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &--title {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #041838;
  }

  &--partner {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(
      187.9deg,
      #0284c9 6.08%,
      rgba(10, 53, 86, 0.8) 93.94%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.has-font {
  &--700 {
    font-weight: 700;
  }
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
}