<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start" class="ion-margin-start">{{ expenseCategory.description }} </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium" class="ion-padding">
  <ion-progress-bar *ngIf="state" type="indeterminate" value="0.42" buffer="0.5" reversed="true"
    color="primary"></ion-progress-bar>
  <form [formGroup]="expenseForm" (ngSubmit)="registerExpense()">
    <section class="ion-margin-bottom">
      <ion-text>
        Esta registrando un gasto de: {{ expenseCategory.name }}
      </ion-text>
    </section>

    <section *ngIf="expenseCategory.id === 3">
      <ion-item>
        <ion-label position="floating">Nombre del difunto:</ion-label>
        <ion-input type="text" inputmode="text" formControlName="name_deceased"
          [value]="expenseForm.value.name_deceased | titlecase"></ion-input>
      </ion-item>
    </section>

    <section>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Monto:</ion-label>
        <ion-input type="number" formControlName="amount"></ion-input>

        <article class="coin-selected-container" slot="end">
          <ion-text>$us</ion-text>
          <ion-toggle slot="end" mode="ios" (ionChange)="coinChange($event)" checked></ion-toggle>
          <ion-text>Bs</ion-text>
        </article>
      </ion-item>

      <ion-item *ngIf="expenseCategory.id !== 3 && false" class="check-passage ion-margin-bottom" color="transparent">
        <ion-label>¿Tomar en cuenta los pasajes?</ion-label>
        <ion-checkbox (ionChange)="passageChangeStatus($event)" checked slot="end" mode="ios" formControlName="passage">
        </ion-checkbox>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Detalle del gasto:</ion-label>
        <ion-textarea [attr.disabled]="expenseCategory.id === 3 || expenseCategory.id === 1" class="ion-margin-bottom"
          type="text" formControlName="detail"
          [value]="expenseCategory.id === 3? defaultDescriptionDeceased + nameDeceased: ( expenseCategory.id === 2 )? defaultDescriptionServices + passage:( expenseCategory.id === 1 && passageStatus)? defaultDescriptionElectricity + ' + Pasajes ': defaultDescriptionElectricity">
          <!-- {{ passageStatus? '+ Pasajes' : ''}} -->
        </ion-textarea>
      </ion-item>

      <ion-item id="open-modal-incomes-register" class="ion-margin-bottom">
        <ion-label *ngIf="expenseForm.controls.date.value" position="floating">Fecha del gasto:</ion-label>
        <!-- <ion-label *ngIf="expenseForm.controls.date.value" position="floating">Fecha de Afiliación:</ion-label> -->
        <ion-input [value]="expenseForm.controls.date.value | date"></ion-input>
        <ion-icon class="ion-no-margin-s" slot="end" color="primary" name="calendar-outline"></ion-icon>
      </ion-item>

      <ion-modal trigger="open-modal-incomes-register" [cssClass]="'bottom-end'" class="ion-datepicker-incomes-modal">
        <ng-template>
          <article>
            <ion-datetime color="primary" display-format="DD/MM/YYYY" value="date" presentation="date"
              [preferWheel]="true" size="cover" [showDefaultButtons]="true" [max]="today" doneText="Confirmar"
              cancelText="Cancelar" formControlName="date"></ion-datetime>
          </article>
        </ng-template>
      </ion-modal>
    </section>

    <ion-button type="submit" [disabled]="expenseForm.invalid" class="ion-margin" color="primary" expand="block"
      shape="round">
      Registrar
    </ion-button>
  </form>
</ion-content>