@import '../../../../../../../assets/mixins/tipografia.scss';
@import '../../../../../../../assets/scss/ionic-componets';


ion-toolbar {
  padding-left: 16px;
  padding-right: 16px;
}

h2 {
  @include bodyMobile;
}

@include input-ionic;

ion-toggle{
  margin: 0 8px;
}

.coin-selected-container{
  display: flex;
  align-items: center;
  align-self: center;
}

