<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start" class="ion-margin-start"> Cobro del Agua </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium" class="ion-padding">
  <section class="ion-margin-bottom">
    <ion-text class="ion-paddin">
      Esta registrando un ingresos por cobro de agua potable.
    </ion-text>
  </section>

  <form action="">
    <section class="ion-margin-bottom">
      <ion-searchbar class="search-container" mode="md" placeholder="Ingrese Nombre del socio" animated type="text"
        autocomplete="on" [debounce]="250" (ionChange)="dataSearch($event)">
      </ion-searchbar>
    </section>

    <ion-item class="ion-margin-bottom">
      <mat-form-field>
        <ion-label>Meses adeudados a pagar::</ion-label>
        <mat-select>
          <mat-option *ngFor="let state of [0,1,2,3,4]" [value]="state">{{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-item>

    <ion-item class="ion-margin-bottom ion-align-items-center">
      <ion-label position="floating">Fecha de pago. <ion-text color="danger"></ion-text>:</ion-label>
      <ion-icon slot="end" name="calendar-outline" color="primary"></ion-icon>
      <ion-datetime display-format="DD/MM/YYYY" [max]="today" doneText="Ok" cancelText="Cancelar" disabled>
      </ion-datetime>
    </ion-item>

    <ion-card class="ion-align-items-center ion-margin-bottom">
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-text>
                <p>
                  <ion-icon name="person-outline"></ion-icon>{{'Alberto Andia'}}
                </p>
              </ion-text>

              <p>
                <ion-icon name="train-outline"></ion-icon>{{'A56235A-j2'}}
              </p>

              <p>
                <ion-icon name="wallet-outline"></ion-icon>{{ '9414672 Cbba' }}
              </p>
              <p>
                <ion-icon name="phone-portrait-outline"></ion-icon>{{ 769859 }}
              </p>
              <p>
                <ion-icon name="location-outline"></ion-icon>{{ 'Ditrito 4 - Tajamar B' }}
              </p>

            </ion-col>
            <ion-col size="6">
              <p>Monto adeudado: {{ 0 }}</p>
              <p>Meses adeudados: {{ 0 }}</p>
              <p>Multas: {{ 0 }}</p>
              <p>Total: {{ 0 }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit" color="primary" expand="block" shape="round">
      Cobrar</ion-button>

  </form>

</ion-content>
