<ion-split-pane contentId="main-content">
  <ion-menu type="overlay" menuId="main-menu" contentId="main-content" color="dark" *ngIf="!isReader">
    <app-navbar></app-navbar>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
