@import '../../../../../assets/mixins/_media-breackpoints.scss';

:host {
  width: 100% !important;
  box-sizing: border-box;
}

.ngx-advance-pie-chard-container {
  width: 600px;

  @include medium {
    width: 100%;
  }
}