<div #ContainerRef class="ngx-advance-pie-chard-container">
    <ngx-charts-advanced-pie-chart [view]="[ContainerRef.offsetWidth / 1.02, 230]" [scheme]="colorScheme"
        [results]="single" [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
</div>