<app-header></app-header>

<ion-content color="medium">
  <ion-toolbar class="toolbar-container ion-margin-bottom">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/admin/socios"
        mode="md"
        color="primary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Registrar Socio</ion-title>
  </ion-toolbar>
  <mat-stepper
    [orientation]="(isHandset$ | async) ? 'vertical':'horizontal'"
    [selectedIndex]="indexStepper"
    (selectionChange)="selectedStepperChange($event)">
    <mat-step
      #firstMatStep
      label="Datos Principales"
      [completed]="isFirstComplete">
      <app-partners-first-step
        [firstMatStep]="firstMatStep"
        (firstDataEventEmitter)="getFirstData($event)"
        ></app-partners-first-step>
    </mat-step>

    <mat-step
      #secondMatStep
      label="Datos Complementarios"
      [completed]="isSecondComplete">
      <app-partners-second-step
        (secondDataEventEmitter)="getSecondData($event, secondMatStep)"
      ></app-partners-second-step>
    </mat-step>

    <mat-step
      label="Compra de Acción"
      [completed]="isThirdComplete"
      #thirdMatStep>
      <app-partners-third-step *ngIf="newPartner"
        [partner]="newPartner"
        [actionPrice]="priceData?.action_price"
        (thirdDataEventEmitter)="getThirdData($event, thirdMatStep)">
      </app-partners-third-step>
    </mat-step>

    <!-- <mat-step label="Asignación de medidor">
      <app-assign-meter *ngIf="newPartnerAction"
        [partner]="newPartner"
        [partnerAction]="newPartnerAction"
        [waterMeterPrice]="priceData?.water_meter_price"
        (waterMeterToActionEventEmitter)="saveWaterMeterToAction($event)"
      ></app-assign-meter>

    </mat-step> -->
  </mat-stepper>

</ion-content>
