<!-- <ion-content color="medium" class="ion-padding-vertical"> -->

<ion-grid class="ion-padding-horizontal ion-padding-top incomes-report-container">
  <ion-row class="ion-justify-content-between">
    <ion-col class="col-first-chart ion-hide-md-down" sizeSm="12" sizeMd="6" sizeLg="6" offsetMd="0">
      <article class="main-chart__containe chard-container" *ngIf="incomesCategories && incomesData">
        <h4>Resumen De Ingresos (Categorizados)</h4>
        <app-pie
          [single]="incomesData | buildIncomesDataByMonthAndYear | buildIncomesToPieChart:incomesCategories"></app-pie>
      </article>
    </ion-col>

    <ion-col class="chard-container" sizeSm="12" sizeMd="6" sizeLg="6" offsetMd="0">
      <article class="main-chart__container chard-container">
        <h4 class="ion-padding-start">Histórico de Ingresos Gestión {{today | date :'y' | titlecase}}</h4>
        <app-vertical-bar *ngIf="incomesData" [single]="incomesData | buildIncomesToShowChart"></app-vertical-bar>
      </article>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" class="ion-text-en ion-text-left">
      <h3>Total de Ingresos:
        <ion-text color="primary" class="ion-margin-start" *ngIf="incomesData">
          {{ (incomesData | calculateTotalAmountToChartIncomes)?.totalAmountBolCoin | currency: 'Bs'}}
        </ion-text>
        <ion-text color="dark">
          -
        </ion-text>
        <ion-text color="primary" class="ion-margin-star" *ngIf="incomesData">
          {{ (incomesData | calculateTotalAmountToChartIncomes)?.totalAmountDollarCoin | currency: '$us'}}
        </ion-text>
      </h3>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="ion-justify-content-between ion-margin-vertical" >
      <ion-col size="6" class="ion-text-">
        <h3>Tabla resumen de ingresos</h3>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <h3 color="primary">Total: {{ 165465 }}</h3>
      </ion-col>
    </ion-row> -->

  <!-- <ion-row>
      <ion-col class="col-container ion-margin-bottom" sizeSm="4" sizeMd="2">
        <ion-item class="filter">
          <ion-label color="primary">Filtrar</ion-label>
          <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event)">
            <ion-select-option value="all">Todos</ion-select-option>
            <ion-select-option [value]="1">Cobro de multa</ion-select-option>
            <ion-select-option [value]="0">Cobro de accion</ion-select-option>
            <ion-select-option value="En Corte">Otros ingresos</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col class="col-container ion-hide-md-down ion-margin-bottom" sizeMd="8">
        <ion-searchbar class="search-container" mode="md" placeholder="Ingrese Nombre del socio" animated type="text"
          autocomplete="on" [debounce]="250" (ionChange)="searchFine($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col class="col-container ion-margin-bottom" sizeSm="8" sizeMd="2">
        <ion-item class="datetime">
          <ion-datetime doneText="Ok" cancelText="Cancelar">
          </ion-datetime>
          <ion-icon slot="end" name="calendar-outline" color="primary"></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-income-reports-list></app-income-reports-list>
      </ion-col>
    </ion-row> -->
</ion-grid>

<!-- </ion-content> -->