@import '../../../../../assets/mixins/tipografia.scss';
@import '../../../../../assets/mixins/media-breackpoints';
@import '../../../../../assets/scss/ionic-componets';

.container {
  width: 100%;

  h3 {
    @include bodyTablet;
  }

  &-form {
    width: 100%;

    &__title {
      @include paragraphMobile;
      text-align: center;
    }

    .subtitle {
      @include bodyMobile;
    }

    @include input-ionic;
  }

  @include large {
    &-form {
      width: 50%;
      margin: auto;
    }
  }

  .list-container {
    background-color: var(--ion-color-medium);
  }

  .plan-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 20px;
    overflow-x: auto;
    flex-wrap: wrap;

    ul {
      margin: auto 16px;
      min-width: 100px;

      li {
        list-style: none;

        ion-checkbox[disabled] {
          --background: #a2c1d4;
        }
      }
    }
  }

  ion-fab-button {
    margin: auto;
  }

  .item-voucher__container {
    margin-bottom: 16px;

    @include large {
      width: 50%;
      margin: auto;
      margin-bottom: 16px;
    }
  }
}

mat-form-field {
  width: 100%;
}