<div class="container">
  <form class="container-form" [formGroup]="thirdForm" (ngSubmit)="saveThirdData()">
    <p class="ion-margin-bottom container-form__title">Genial, solo un paso más...!</p>
    <p color="dark">Los campos con (*) son obligatorios</p>
    <div class="ion-margin-bottom">
      <mat-divider></mat-divider>
    </div>

    <p class="ion-margin-bottom ion-text-center subtitle" *ngIf="false">Seleccione un metodo de pago para la compra de
      la ACCION</p>
    <p class="ion-margin-bottom ion-text-center subtitle">Precio de la acción {{actionPrice | currency: ' $.'}}</p>
    <ion-grid>
      <ion-row>
        <!-- <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-list class="list-container">
            <ion-radio-group formControlName="payment_method">
              <ion-item color="medium">
                <ion-label class="ion-margin-start">Un solo pago </ion-label>
                <ion-radio slot="start" value="contado"></ion-radio>
              </ion-item>

              <ion-item
                *ngIf="false"
                color="medium"
                (click)="changePaymentQuota('more')"
                (click)="changePaymentQuota('only')">
                <ion-label class="ion-margin-start">Pago en cuotas mensuales</ion-label>
                <ion-radio
                  slot="start"
                  value="cuotas"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col> -->
        <ion-col class="ion-margin-bottom" size="12">

          <ion-item id="open-modal-pay">
            <ion-label *ngIf="!thirdForm.controls.payment_date.value">Fecha de Pago *:</ion-label>
            <ion-label *ngIf="thirdForm.controls.payment_date.value" position="floating">Fecha de Pago *:</ion-label>
            <ion-input [value]="thirdForm.controls.payment_date.value | date"></ion-input>
            <ion-icon class="ion-no-margin-s" slot="end" color="primary" name="calendar-outline"></ion-icon>
          </ion-item>
          <ion-modal trigger="open-modal-pay" [cssClass]="'bottom-end'">
            <ng-template>
              <ion-datetime color="primary" value="payment_date" presentation="date" [preferWheel]="true" size="cover"
                [showDefaultButtons]="true" [max]="today" doneText="Confirmar" cancelText="Cancelar"
                formControlName="payment_date"></ion-datetime>
            </ng-template>
          </ion-modal>
          <!-- 
          <ion-item>
            <ion-label position="floating">Fecha de Pago *:</ion-label>
            <ion-datetime formControlName="payment_date" display-format="DD/MM/YYYY" [max]="today"></ion-datetime>
            <ion-icon color="primary" slot="end" name="calendar-outline"></ion-icon>
          </ion-item> -->
        </ion-col>
        <!-- <ion-col class="ion-margin-bottom" *ngIf="isQuotas" size="12">
          <ion-item>
            <ion-label position="floating">Nro de Cuotas:</ion-label>
            <ion-select
              mode="ios"
              formControlName="quotas_number"
              interface="popover"
              placeholder="Selecciona un número de cuotas">
              <ion-select-option
                *ngFor="let item of [2,3,4]"
                [value]="item">{{item}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
        <!-- <ion-col *ngIf="isQuotas" class="ion-margin-bottom">
          <div *ngIf="dataPlanOficial" class="plan-container">
            <ul class="ion-text-center" *ngFor="let item of dataPlanOficial">
              <li>
                <ion-checkbox
                  mode="ios"
                  disabled="true"
                  [checked]="item.isPaitOut"
                  [color]="item.isPaitOut? 'primary' : 'dark'"></ion-checkbox>
              </li>
              <li>
                <strong>{{item.datePayment | date}}</strong>
              </li>
              <li>{{item.money | currency:'$'}}</li>
            </ul>
          </div>
        </ion-col> -->

        <!-- <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-list class="list-container">
            <ion-radio-group formControlName="payment_way">
              <ion-item color="medium" (click)="changePaymentWay('odev')">
                <ion-label class="ion-margin-start">Pago presencial</ion-label>
                <ion-radio slot="start" value="presencial"></ion-radio>
              </ion-item>
              <ion-item color="medium" (click)="changePaymentWay('bank')">
                <ion-label class="ion-margin-start">Pago mediante banco (Comprobante)</ion-label>
                <ion-radio slot="start" value="banco"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col> -->
        <ion-col class="ion-margin-bottom" size="12">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h3>Subir fotografía del comprobante</h3>
            </ion-text>
            <ion-item class="item-voucher__container">
              <ion-avatar class="ion-margin-end" slot="start">
                <img [src]="thirdForm.controls.voucher.value" />
              </ion-avatar>
              <ion-label>Comprobante de pago</ion-label>
            </ion-item>
            <ion-fab-button (click)="fileUpload()">
              <ion-icon name="file-tray-full-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>

        <ion-col class="ion-margin-vertical" sizeXs="12" *ngIf="waterMeterList$">
          <p class="ion-margin-bottom container-form__title"></p>
          <h3>Asignar un medidor a este socio...!</h3>

          <div class="ion-margin-bottom">
            <mat-divider></mat-divider>
          </div>
          <ion-item class="ion-margin-bottom item-select-options ion-no-padding">
            <mat-form-field>
              <mat-label>Medidores Disponibles:</mat-label>
              <mat-select formControlName="water_meter" placeholder="Elegir Medidor Disponible">
                <ion-button color="primary" expand="block" class="ion-text-capitalize"
                  *ngIf="waterMeterList$ | async as waterMeters" (click)="addMeasurer(waterMeters)">
                  <ion-icon slot="start" name="add-outline"></ion-icon>
                  Nuevo medidor
                </ion-button>
                <mat-option *ngFor="let waterMeter of waterMeterList$ | async | waterMeterByActive"
                  [value]="waterMeter">
                  {{ waterMeter.water_meter_number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-item>
        </ion-col>

        <ion-col class="ion-margin-bottom" sizeXs="12" sizeMd="6" offsetMd="3" sizeLg="12" offsetLg="0">
          <ion-button type="submit" expand="block" color="primary" shape="round" [disabled]="!thirdForm.valid">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>