@import '../../../../../assets/mixins/tipografia.scss';
@import '../../../../../assets/mixins/media-breackpoints';
@import '../../../../../assets/scss/ionic-componets';

.container {
  width: 100%;

  &-form {
    width: 100%;

    &__title {
      @include paragraphMobile;
      text-align: center;
    }

    @include input-ionic;

    .full-width {
      width: 100%;
    }
  }

  @include large {
    &-form {
      width: 50%;
      margin: auto;
    }
  }
}

.ion-no-margin-s {
  margin: 0;
}

.danger {
  border-bottom: 1px solid var(--ion-color-danger);

  .label-input {
    font-weight: 300;
  }
}