<div class="container">
  <form class="container-form" [formGroup]="secondForm" (ngSubmit)="saveSecondData()">
    <p class="ion-margin-bottom container-form__title">Ya casi terminamos, necesiamos estos datos complementarios</p>
    <p color="dark">Los campos con (*) son obligatorios</p>
    <div class="ion-margin-bottom">
      <mat-divider></mat-divider>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item class="name-input">
            <ion-label position="floating">Nombre Completo del Conyugue:</ion-label>
            <ion-input formControlName="spouse" type="text"
              [value]="secondForm.controls.spouse.value | titlecase"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item class="lastname-input item-select-options ion-no-padding">
            <mat-form-field class="full-width">
              <mat-label>Comunidad/Junta Vecinal/Ubicación *:</mat-label>
              <mat-select formControlName="community" placeholder="Selecciona la comunidad">
                <mat-option *ngFor="let location of locationsList" [value]="location">{{location.district}} - {{
                  location.location}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-item>
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item id="open-modal2"
            [ngClass]="{'danger': partnerMembership?.invalid && partnerMembership?.errors?.required}">
            <ion-label class="label-input" *ngIf="!secondForm.controls.membership.value" color="danger">Fecha de
              Afiliación *:</ion-label>
            <ion-label *ngIf="secondForm.controls.membership.value" position="floating">Fecha de Afiliación:</ion-label>
            <ion-input [value]="secondForm.controls.membership.value | date"></ion-input>
            <ion-icon class="ion-no-margin-s" slot="end" color="primary" name="calendar-outline"></ion-icon>
          </ion-item>
          <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
            <ng-template>
              <!-- <ion-datetime presentation="date" [(ngModel)]="dateExample" size="cover"
                [showDefaultButtons]="true"></ion-datetime> -->
              <ion-datetime color="primary" value="membership" presentation="date" [preferWheel]="true" size="cover"
                [showDefaultButtons]="true" [max]="today" doneText="Confirmar" cancelText="Cancelar"
                formControlName="membership"></ion-datetime>
            </ng-template>
          </ion-modal>

          <!-- <ion-item>
            <ion-label position="floating">Fecha de Afiliación:</ion-label>
            <ion-datetime placeholder="None" disabled></ion-datetime>
            <ion-datetime
              display-format="DD/MM/YYYY"
              [max]="today"
              doneText="Ok"
              cancelText="Cancelar"
              formControlName="membership"></ion-datetime>
            <ion-icon slot="end" color="primary" name="calendar-outline"></ion-icon>
            <ion-item id="open-modal">
              <ion-label position="floating">Fecha de Afiliación:</ion-label>
              <ion-icon slot="end" color="primary" name="calendar-outline"></ion-icon>
              <ion-note slot="end">{{dateExample | date}}</ion-note>
            </ion-item>
            <ion-modal trigger="open-modal">
              <ng-template>
                <ion-datetime display-format="DD/MM/YYYY" [max]="today" doneText="Ok" cancelText="Cancelar"
                  formControlName="membership"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item> -->
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item color="medium" class="complement-input">
            <ion-label>¿El socio cuenta con alcantarillado? *:</ion-label>
            <ion-checkbox formControlName="sewerage" mode="ios" slot="end"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12">
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Nro Celular 2:</ion-label>
            <ion-input formControlName="second_phone" type="tel"></ion-input>

          </ion-item>
          <div *ngIf="partnerSecondPhone.invalid && (partnerSecondPhone.dirty || partnerSecondPhone.touched)">
            <ion-text *ngIf="partnerSecondPhone.errors.pattern" color="danger">Por favor, ingrese un número de celular
              válido</ion-text>
            <!-- <ion-text *ngIf="partnerSecondPhone.errors.minLength" color="danger">Este campo sólo admite 8 caracteres</ion-text> -->
          </div>
          <ion-item>
            <ion-label position="floating">Nro Celular 3:</ion-label>
            <ion-input formControlName="third_phone" type="tel"></ion-input>
          </ion-item>
          <div *ngIf="partnerThirdPhone.invalid && (partnerThirdPhone.dirty || partnerThirdPhone.touched)">
            <ion-text *ngIf="partnerThirdPhone.errors.pattern" color="danger">Por favor, ingrese un número de celular
              válido</ion-text>
          </div>
        </ion-col>
        <ion-col class="ion-margin-bottom" sizeXs="12" sizeMd="6" offsetMd="3" sizeLg="12" offsetLg="0">
          <ion-button type="submit" expand="block" color="primary" shape="round" [disabled]="!secondForm.valid">
            {{ partnerData !== undefined ? 'Guardar Cambios': 'Continuar'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>