:host {
  width: 100%;
}

.expense-list-amount {
  max-width: 200px;

  ion-label {
    width: 30px;
  }
}

.expenses-data-table {
  max-height: calc(100% - 96px);
  overflow-y: auto;
}

ion-grid {
  background-color: var(--ion-color-medium);
}