<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label class="ion-label wrap-text">
          <strong>N° de Medidor</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-md-down ion-label wrap-text">
      <ion-item>
        <ion-label>
          <strong>Código</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-sm-down ion-label wrap-text">
      <ion-item>
        <ion-label>
          <strong>Fecha de Registro</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="water-meter-observations-column">
      <ion-item>
        <ion-label class="ion-label wrap-text">
          <strong>Observaciones</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1" sizeXl="1" class="ion-hide-sm-down ion-label wrap-text">
      <ion-item>
        <ion-label>
          <strong>Activo</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1" *ngIf="false">
      <ion-item class="ion-justify-content-center">
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="water-meter-content">
    <ion-col>
      <ion-item *ngFor="let waterMeter of waterMeterList; index as i">
        <ion-label class="item-label-row ion-label wrap-text" color="primary">
          {{ waterMeter.water_meter_number }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-md-down ion-label wrap-text">
      <ion-item *ngFor="let waterMeter of waterMeterList; index as i">
        <ion-label class="item-label-row">
          {{waterMeter.id}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-sm-down">
      <ion-item *ngFor="let waterMeter of waterMeterList; index as i">
        <ion-label class="item-label-row ion-label wrap-text">
          {{ waterMeter.register_date | date }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-xl-dow" style="max-width: 160px;">
      <ion-item *ngFor="let waterMeter of waterMeterList; index as i">
        <section class="water-meter-observations">
          <ion-label class="water-meter-cut ion-label wrap-text" *ngIf="waterMeter.water_cut">
            {{statusWaterMeterEnum.CUT_NOT_PAYMENT}}
          </ion-label>

          <ion-label class="water-meter-broken" *ngIf="waterMeter.meter_broken">
            {{statusWaterMeterEnum.BROKEN}}
          </ion-label>

          <ion-label [ngClass]="[waterMeter.used?'water-meter-used':'water-meter-free']"
            *ngIf="!waterMeter.water_cut && !waterMeter.meter_broken">
            {{ waterMeter.used?statusWaterMeterEnum.ASIGNE:statusWaterMeterEnum.FREE}}
          </ion-label>
        </section>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1" sizeXl="1" class="ion-hide-sm-down ion-label wrap-text">
      <ion-item *ngFor="let waterMeter of waterMeterList; index as i">
        <article class="item-label-row">
          <ion-checkbox color="primary" mode="ios" [disabled]="true" [checked]="waterMeter.active"></ion-checkbox>
        </article>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1" *ngIf="false">
      <ion-item class="item-label-row" *ngFor="let waterMeter of waterMeterList; index as i">
        <article class="item-label-row">
          <ion-button expand="block" slot="end" fill="clear" color="primary"
            (click)="managementMeasure($event, waterMeter)">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </article>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>