ion-grid {
  .item-label-row {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}

.water-meter-observations {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
  max-width: 160px;
  box-sizing: border-box;
  height: 70px;
  justify-content: center;
}

.water-meter-content {
  max-height: 70vh;
  overflow-y: auto;
}

.water-meter-cut,
.water-meter-broken,
.water-meter-free,
.water-meter-used {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  color: #3A4651;
  font-weight: 500;
  box-sizing: border-box;
}

.water-meter-cut {
  background-color: #F9C74F;
}

.water-meter-broken {
  background-color: #ee5c5e;
  color: #fffefe;
  font-weight: 600;
}

.water-meter-free {
  background-color: #31db86;
}

.water-meter-used {
  background-color: #79BBD9;
  color: #FFFFFF;
}

.water-meter-observations-column {
  max-width: 160px;
}

.ion-label {
  width: 30px;
}