<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start" class="ion-margin-start"> {{toolbarTitle}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium" class="ion-padding">
  <ion-progress-bar *ngIf="loading" type="indeterminate" value="0.42" buffer="0.5" reversed="true"
    color="primary"></ion-progress-bar>
  <form [formGroup]="readerForm" (ngSubmit)="registerReadering()" *ngIf="optionSelectedByUser !== optionToVerify.PAY">
    <section class="ion-margin-bottom ion-text-center">
      <ion-text>
        Esta registrando una nueva lecturación para: <br>
        <strong>
          {{ partner?.name + ' ' + partner?.last_name || 'No se selecciono un socio' }}
        </strong>
      </ion-text>
    </section>

    <section class="ion-margin-bottom ion-text-center">
      <ion-text color="danger">
        <ion-text color="primary"> Mes de proceso</ion-text>
        <h3 class="ion-no-margin"><strong> {{ today | date:'MMMM' | uppercase }} </strong></h3>
      </ion-text>
    </section>

    <section>
      <ion-grid>
        <ion-row class="ion-justify-content-between">
          <ion-col sizeXs="12" sizeSm="5.8">
            <ion-item class="ion-margin-bottom">
              <ion-label position="floating">Lectura anterior (m3):</ion-label>
              <ion-input type="number" inputmode="number" formControlName="readering_last"
                (ngModelChange)="calcWaterConsume()"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col sizeXs="12" sizeSm="5.8">
            <ion-item class="ion-margin-bottom">
              <ion-label position="floating">Lectura actual (m3):</ion-label>
              <ion-input type="number" inputmode="number" formControlName="readering_actual"
                (ngModelChange)="calcWaterConsume()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item id="open-modal-incomes-register" class="ion-margin-bottom">
        <ion-label position="floating">Fecha de lecturación:</ion-label>
        <ion-input [value]="readerForm.controls.dateToRead.value | date" disabled="true"></ion-input>
        <ion-icon slot="end" color="primary" name="calendar-outline"></ion-icon>
      </ion-item>

      <ion-modal trigger="open-modal-incomes-register" [cssClass]="'bottom-end'" class="ion-datepicker-incomes-modal">
        <ng-template>
          <article>
            <ion-datetime color="primary" value="date" presentation="date" [preferWheel]="true" size="cover"
              [showDefaultButtons]="true" [max]="today" doneText="Confirmar" cancelText="Cancelar"
              formControlName="dateToRead" readonly="true"></ion-datetime>
          </article>
        </ng-template>
      </ion-modal>

      <ion-item class="ion-margin-bottom" *ngIf="readerForm.value.readering_actual !== ''">
        <ion-label>Consumo actual: <ion-text color="primary">{{readerForm.value.water_consume | currency:
            '(m3)'}}</ion-text></ion-label>
      </ion-item>

      <ion-item class="ion-margin-bottom"
        *ngIf="priceToPay && readerForm.value.water_consume > 0 || optionToVerify.PAY || optionToVerify.MODIFY || !currentReadingLowerPreviousReading">
        <ion-label>Precio/m3: <ion-text color="primary">{{priceToPay | currency: 'Bs. '}}</ion-text></ion-label>
      </ion-item>

      <ion-item class="ion-margin-bottom" *ngIf="debts">
        <ion-label>Deudas: <ion-text color="warning">+{{(prices.debts | currency: 'Bs.') + ' con ' +
            differenceBeetwenDays}} días de retraso</ion-text></ion-label>
      </ion-item>

      <ion-item *ngIf="optionToVerify.PAY && !currentReadingLowerPreviousReading && !readerForm.invalid"
        class="-align-items-center ion-margin-bottom">
        <ion-label position="floating">Monto:</ion-label>
        <ion-input type="number" inputmode="number" formControlName="amount"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label>Alcantarillado:
          <ion-text color="primary">
            {{sewerage_price | currency: 'Bs.'}}
          </ion-text>
        </ion-label>
      </ion-item>

      <article class="total-pay-of-water-consumed" *ngIf="!currentReadingLowerPreviousReading">
        <ion-text color="dark">Total:</ion-text>
        <ion-text color="dark">
          <strong>
            {{(sewerage_price + readerForm.controls.amount.value) | currency: 'Bs. '}}</strong></ion-text>
      </article>

      <article class="ion-text-center" *ngIf="currentReadingLowerPreviousReading">
        <ion-text color="danger"><strong>{{'La lectura actual debe ser mayor que la anterior'}}</strong></ion-text>
      </article>
    </section>

    <section [ngSwitch]="optionSelectedByUser">
      <ion-button *ngSwitchCase="optionToVerify.PAY" type="submit" [disabled]="!readerForm.valid" class="ion-margin"
        color="primary" expand="block" shape="round">Cobrar</ion-button>

      <ion-button *ngSwitchCase="optionToVerify.MODIFY" type="submit"
        [disabled]="!readerForm.valid || currentReadingLowerPreviousReading" class="ion-margin" color="primary"
        expand="block" shape="round">Guardar</ion-button>

      <ion-button *ngSwitchDefault type="submit" [disabled]="!readerForm.valid || currentReadingLowerPreviousReading"
        class="ion-margin" color="primary" expand="block" shape="round">Registrar</ion-button>
    </section>
  </form>

  <section class="ion-margin-top" *ngIf="waterConsume && optionSelectedByUser === optionToVerify.PAY"
    style="position: relative;">
    <div id="contentToConvert" class="water-consumed-pay-report">
      <section class="ion-text-center water-consumed-pay-report__title">
        <article>
          <ion-text color="primary" class="ion-margin-end has-font--700">Servicio de Agua Potable "San Pablo"</ion-text>
        </article>
        <article>
          <ion-text>Recibo por el pago del Servicio</ion-text>
        </article>
      </section>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Socio:</ion-text>
              <ion-text>{{partner?.name + ' ' + partner?.last_name}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Código:</ion-text>
              <ion-text>{{partner.id}}</ion-text>
            </article>
          </ion-col>

          <!-- // <ion-col size="6">
            // <article>
              // <ion-text color="dark" class="ion-margin-end has-font--700">Medidor:</ion-text>
              // <ion-text>{{partner.identity_card}}</ion-text>
              // </article>
            // </ion-col> -->

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Comunidad:</ion-text>
              <ion-text>{{partner.community.location}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Mes de consumo:</ion-text>
              <ion-text>{{(waterConsume.dateToRead).toString() | date:'MMMM-yyyy' | titlecase}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Fecha de pago:</ion-text>
              <ion-text>{{today | date}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Consumo de agua(m3):</ion-text>
              <ion-text>{{waterConsume.water_consume}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Lectura anterior:</ion-text>
              <ion-text>{{waterConsume.readering_last}}</ion-text>
            </article>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Lectura actual:</ion-text>
              <ion-text>{{waterConsume.readering_actual}}</ion-text>
            </article>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="container">
        <div class="table">
          <div class="table-header">

            <div class="header__item">
              <ion-text color="dark" class="ion-margin-end has-font--700">Detalle</ion-text>
            </div>
            <div class="header__item">
              <ion-text color="dark" class="ion-margin-end has-font--700">Importe</ion-text>
            </div>
          </div>
          <div class="table-content">
            <div class="table-row">
              <div class="table-data">Monto por consumo de agua</div>
              <div class="table-data">{{waterConsume.amount}}</div>
            </div>
            <div class="table-row">
              <div class="table-data">Alcantarillado</div>
              <div class="table-data">{{waterConsume.sewerage}}</div>
            </div>
            <div class="table-row">
              <div class="table-data">Multa por mora</div>
              <div class="table-data">{{waterConsume.debts?waterConsume.debts:0}}</div>
            </div>
          </div>
        </div>
      </div>

      <article class="total-pay-of-water-consumed ion-margin-top" *ngIf="!currentReadingLowerPreviousReading"
        style="margin-top: 5px;">
        <ion-text color="dark">Total:</ion-text>
        <ion-text color="danger">
          <strong>{{(waterConsume.sewerage + readerForm.controls.amount.value + waterConsume.debts) | currency:
            'Bs.'}}</strong></ion-text>
      </article>

      <figure class="partner-qr-container">
        <img [src]="partnerQrCodeUrl" alt="Código QR">
      </figure>
    </div>
    <ion-button type="submit" class="ion-margin" color="primary" expand="block" shape="round"
      (click)="registerReadering()">Cobrar</ion-button>
  </section>
</ion-content>
<section *ngIf="loading" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>