@import '../../../../../../../assets/mixins/tipografia.scss';
@import '../../../../../../../assets/scss/angular-material';
@import '../../../../../../../assets/scss/ionic-componets';


ion-toolbar {
  padding-left: 16px;
  padding-right: 16px;
}

h2 {
  @include bodyMobile;
}

@include input-ionic;

.check-passage {
  width: 30%;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 16px;
  border-top: 1px solid;
}

ion-toggle {
  margin: 0 8px;
}

.coin-selected-container {
  display: flex;
  align-items: center;
}

.total-pay-of-water-consumed {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.water-consumed-pay-report {
  border: 1px solid var(--ion-color-primary);
  padding: 10px;
  border-radius: 10px;

  ion-row {
    gap: 5px 0;
  }

  &__title {
    margin-bottom: 20px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border: 1px solid var(--ion-color-dark);
  border-radius: 10px;
  margin-top: 15px;
}

.table-header {
  display: flex;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--ion-color-dark);
}

.table-row {
  display: flex;
  width: 100%;
  padding: 5px;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.partner-qr-container {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 90px;
  max-width: 90px;
  margin: 2px 2px 0 0;

  img {
    max-width: 100%;
    border-radius: 10px;
  }
}