@import '../../../../assets/mixins/_media-breackpoints.scss';
@import '../../../../assets/mixins/tipografia.scss';


.figure-container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  max-width: 350px;

  @include small {
    width: 240px;
    left: calc(50% - 100px);
  }

  @include medium {
    width: 320px;
    left: calc(50% - 150px);
  }

  @include large {
    width: 518px;
    top: calc(50% - 280px);
    left: calc(50% - 200px);
  }

}

.title {
  @include titleMobile;

  @include small {
    @include titleMobile;
  }

  @include medium {
    @include titleTablet;
  }

  @include large {
    @include titleDesktop;
  }
}

.subtitle {
  @include bodyMobile;

  @include small {
    @include bodyMobile;
  }

  @include medium {
    @include bodyTablet;
  }

  @include large {
    @include subtitleDesktop;
  }
}

.no-margin {
  margin: 0 auto;
}