<!-- <picture class="picture-container">
  <source media="(min-width: 411px)" srcset="assets/images/empty-state/data/empty-state-dataMobile.jpg" sizes="">
  <source media="(min-width: 768px)" srcset="assets/images/empty-state/data/empty-state-dataTablet.jpg" sizes="">
</picture> -->
<ion-grid>
  <ion-row class="ion-align-items-center" style="height: 100%;">
    <ion-col size="12" class="ion-text-center">
      <figure class="main-container__logo-container figure-container" [ngClass]="{'no-margin':noMargin}">
        <ion-img src="/assets/images/empty-state/empty-search.png" alt="Imagen de datos vacios"></ion-img>
      </figure>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" [sizeMd]="sizeMd" [offsetMd]="offsetMd" class="ion-text-center">
      <h1 class="title" *ngIf="showTitle">{{title | titlecase}}</h1>
      <h2 class="subtitle" *ngIf="showSubtitle">{{subtitle}}</h2>
    </ion-col>
  </ion-row>
</ion-grid>