.main-container {
  min-height: 100vh;

  &__logo {
    background-image: url('/assets/images/login/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 40vh;
  }

  &__card {
    margin: 0;
    // min-height: 60vh;
  }

  &__card-header {
    ion-card-title {
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
      color: var(--ion-color-light);
    }
  }

  &__card-content {
    margin-top: 35px;

    .form-input {
      margin-top: 30px;
    }

    .btn-submit {
      margin-top: 25px;
    }

    ion-item {
      border-radius: 8px;
      margin: 5px 0;

    }

    ion-item ion-input {
      height: 64px;
    }

  }
  .icon-btn-login{
    margin-right: 10px;
  }
}

.logo-container {
  width: 107px;
  height: 107px;
  margin: 0 auto;
  margin-top: 70px;
}

.logo-container img {
  width: 100%;
}
.remerberMe{
  color: var(--ion-color-light);
}

@media (min-width: 769px) {
  .main-container {

    &__logo {
      // background-image: none;
      // height: 30vh;
      // justify-content: end;
    }

    &__card {
      // width: 50%;
      // margin: 0 auto;
      // height: 40vh;
    }
  }
}

@media (min-width: 1024px) {
  .main-container {
    background-image: url('/assets/images/login/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
      background-image: none;
    }

    &__card {
      background: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
      opacity: .9;
    }
    &__card-header {
      ion-card-title {
        color: var(--ion-color-tertiary-contrast);
      }
    }
  }
  .remerberMe{
    color: var(--ion-color-dark);
  }
}
