<ion-content color="dark" [fullscreen]="true">
  <ion-grid>

    <ion-row class="main-container">

      <ion-col class="main-container__logo ion-text-center" sizeXs="12" sizeSm="12" sizeMd="12">
        <figure class="logo-container">
          <ion-img src="/assets/images/login/logo.png" alt="Imagen del logo "></ion-img>
        </figure>
        <ion-title class="titl">
          <h1>Bienvenido.</h1>
        </ion-title>
        <ion-text class="subtit" color="light">
          <h2>Sistema Para La Gestión de Agua Potable</h2>
        </ion-text>
      </ion-col>

      <ion-col offsetMd="3" sizeXs="12" sizeSm="12" sizeMd="6" sizeXl="4" offsetXl="4">
        <ion-card class="main-container__card" color="transparent">
          <ion-card-header class="main-container__card-header">
            <ion-card-title>Inicia sesión para continuar</ion-card-title>
          </ion-card-header>

          <ion-card-content class="main-container__card-content">
            <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="loginFire()">

              <ion-item class="form-input">
                <ion-label color="" position="floating">Correo Electrónico:</ion-label>
                <ion-input type="email" required placeholder="Ingrese su Correo Electronico" formControlName="email"
                  [(ngModel)]="email">
                </ion-input>
              </ion-item>

              <div *ngIf="emailUser.invalid && (emailUser.dirty || emailUser.touched)">
                <ion-text *ngIf="emailUser.errors.required" color="danger">El correo es requerido</ion-text>
                <ion-text *ngIf="emailUser.errors.maxlength" color="danger">La cantidad de caracteres permitidos es de
                  50
                </ion-text>
                <!-- <ion-text *ngIf="emailUser.errors.minlength" color="danger">Ingrese como minimo 4 caracteres</ion-text> -->
                <ion-text *ngIf="emailUser.errors.email" color="danger">Por favor, ingrese un correo electrónico con el
                  siguiente formato ejemplo@ejemplo.com</ion-text>

              </div>

              <ion-item class="form-input ion-align-items-center" color="" style="margin-top: 35px;">
                <ion-label color="" position="floating">Contraseña:</ion-label>
                <ion-input name="password" [type]="showPassword ? 'text':'password' " required
                  placeholder="Ingrese su contraseña" size="medium" formControlName="password" [(ngModel)]="password">
                </ion-input>
                <ion-icon class="ion-margin-tops" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"
                  style="cursor: pointer"></ion-icon>
              </ion-item>

              <div *ngIf="passwordUser.invalid && (passwordUser.dirty || passwordUser.touched)">
                <ion-text *ngIf="passwordUser.errors.minlength" color="danger">Por favor, ingresa una contraseña que sea
                  igual o mayor a 8 caracteres
                </ion-text>

                <ion-text *ngIf="passwordUser.errors.required" color="danger">La contraseña es requerida</ion-text>
              </div>

              <div style="display: flex; justify-content: end;">
                <!-- <ion-button class="ion-margin" fill="clear" class="remerberMe" (click)="remember = !remember ">Recuérdame<ion-icon class="ion-margin-start" name="checkmark-circle-outline" [ngStyle]="remember?{'background':'#0284C9', 'border-radius':'50%'}:{}"></ion-icon></ion-button> -->
                <ion-item slot="end" style="width: 150px;">
                  <ion-label> Recuérdame </ion-label>
                  <ion-checkbox slot="end" color="primary" (click)="remember = !remember "></ion-checkbox>
                </ion-item>
              </div>

              <div class="ion-text-center">
                <ion-text color="danger" *ngIf="messageError"> Usuario/Contraseña no registrados </ion-text>
                <ion-button class="btn-submit" [disabled]="loginForm.invalid" size="medium" expand="block"
                  color="primary" shape="round" type="submit">
                  <ion-icon class="icon-btn-login" name="log-in-outline"></ion-icon>Ingresar
                </ion-button>

              </div>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="https://wa.me/+59170350792?text=No%20recuerdo%20Usuario/Contraseña">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>