<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title class="toolbar-incomes-title wrap-text" slot="start">
      {{sliderIndex === 0? 'Historial de ingresos' : 'Registrar nuevo ingreso'}}
    </ion-title>

    <ng-container *ngIf="incomesList$ | async as incomesList">
      <ion-button *ngIf="incomesList.length > 0 && sliderIndex === 0" slot="end" fill="outline" color="primary" shape="round" expand="block"
        class="ion-text-capitalize ion-margin-end" (click)="generateReport()" [size]="buttonSize">
        <ion-icon slot="start" name="download-outline"></ion-icon>
        <ion-text color="primary" class="ion-margin-start ion-hide-md-down">
          Exportar
        </ion-text>
      </ion-button>
    </ng-container>

    <ion-button slot="end" *ngIf="sliderIndex === 1" (click)="changeSlide(0)" color="primary" shape="round"
      expand="block" class="ion-text-capitalize" [size]="buttonSize">
      <ion-icon slot="start" name="list"></ion-icon>
      <ion-text style="margin-left: 8px;" class="ion-margin-start ion-hide-md-down">
        Historial de ingresos
      </ion-text>
    </ion-button>
    <ion-button slot="end" *ngIf="sliderIndex === 0" (click)="changeSlide(1)" color="primary" shape="round"
      expand="block" class="ion-text-capitalize ion-hide-md-down" [size]="buttonSize">
      <ion-icon style="margin-right: 8px;" slot="start" name="add"></ion-icon>
      Nuevo ingreso
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar *ngIf="state" type="indeterminate" reversed="true" color="primary" buffer="0.2"> </ion-progress-bar>

  <ion-slides class="has-margin-top--70" mode="md" pager="md" scrollbar="md" #slideActivity [pager]="true"
    [options]="slideOpts">
    <ion-slide>
      <ion-grid class="incomes-grid-container" [ngClass]="{'padding-top--40' : collapsed}">
        <ion-row *ngIf="incomesData$ && incomesList$ && incomesDataToChart$" [@fadeInOut]="collapsed">
          <ion-col size="12">
            <article class="main-chart__container" id="pie-chart-parent">
              <app-income-reports [incomesData]="incomesDataToChart$ | async"
                [incomesCategories]="incomesList$ | async"></app-income-reports>
            </article>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center filter-row-container">
          <ion-col size="12" class="">
            <h4>Tabla resumen de ingresos <strong> {{ today | date :'MMMM y' | titlecase }}</strong></h4>
          </ion-col>

          <ion-col sizeSm="4.8" sizeMd="4" sizeXl="3" class="ion-hide-sm-down">
            <ion-item>
              <ion-label>Filtrar</ion-label>
              <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event)">
                <ion-select-option [value]="null">Todos</ion-select-option>
                <ion-select-option [value]="incomeCategory" *ngFor="let incomeCategory of incomesList$ | async">
                  {{incomeCategory.name}}
                </ion-select-option>
              </ion-select>
              <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col sizeSm="4.8" sizeMd="4" sizeXl="3" class="ion-hide-sm-down">
            <ion-item>
              <input class="input-date" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="false" [startView]="startView"
                (monthSelected)="chosenMonthHandler($event)"></mat-datepicker>
            </ion-item>
          </ion-col>

          <article class="expand-collapse-btn-container">
            <ion-button color="primary" class="ion-no-padding" shape="round" (click)="toggleExpandAndCollapsed()">
              <ion-icon [name]="iconName"></ion-icon>
            </ion-button>
          </article>
        </ion-row>

        <ion-row class="ion-justify-content-center has-height--100 has-overflow--hidden row-data-container">
          <ng-container *ngIf="incomesData$ && incomesData$ | async as incomesData">
            <ion-col size="12"
              *ngIf="incomesData?.data && !!incomesData?.data?.incomesData.length && !!incomesData?.data?.totalIncomesByWaterConsume.length;else emptyData"
              class="has-height--100">
              <article class="has-height--100">
                <app-income-reports-list
                  [totalAmountIncomes]="incomesData.data | buildIncomesDataByMonthAndYear | filterIncomesByCategory:incomeCategorySelected | calculateTotalAmountIncomes"
                  [incomes]="incomesData.data | buildIncomesDataByMonthAndYear | filterIncomesByCategory:incomeCategorySelected"></app-income-reports-list>
              </article>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ng-template #emptyData>
        <app-empty-data [showTitle]="false" [btnTitle]="'Agregar Nuevo Ingreso'" (btnEventEmitter)="changeSlide(1)">
        </app-empty-data>
      </ng-template>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-text color="primary">
              <h1>¿Qué tipo de ingreso registrará...?</h1>
            </ion-text>
          </ion-col>
          <ion-col sizeXs="7" sizeMd="5" sizeXl="4" class="ion-padding"
            *ngFor="let incomeCategory of incomesCategoriesToRegister">
            <app-income-card [incomeCategory]="incomeCategory" (reloadIncomesData)="reloadIncomesDataEvent($event)">
            </app-income-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <mat-tab-group [selectedIndex]="1" *ngIf="false">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_list_bulleted</mat-icon>
        Reportes
      </ng-template>
      <app-income-reports></app-income-reports>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>grid_view</mat-icon>
        Tareas
      </ng-template>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col sizeXs="12" sizeMd="6" sizeXl="4" class="ion-padding"
            *ngFor="let incomeCategory of incomesList$ | async">
            <app-income-card [incomeCategory]="incomeCategory"></app-income-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>
  </mat-tab-group>

  <ion-fab class="ion-hide-sm-up" vertical="bottom" horizontal="end" slot="fixed" (click)="changeSlide(1)"
    *ngIf="sliderIndex === 0">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <section class="mat-datepicker-item-fab ion-hide-sm-up" *ngIf="sliderIndex === 0">
    <input class="input-dat input-date-fab-small" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="false" [startView]="startView"
      (monthSelected)="chosenMonthHandler($event)"></mat-datepicker>
  </section>
</ion-content>

<section *ngIf="state" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>