<app-header></app-header>
<ion-content color="medium" class="main-reader">
  <ion-toolbar class="toolbar-container ion-hide-md-down">
    <ion-title slot="start">Consumo de agua</ion-title>
    <ion-item slot="end" class="ion-hide-md-down">
      <ion-label class="ion-margin-end">Fecha Lecturación:</ion-label>
      <input class="input-date" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="pickerReader"></mat-datepicker-toggle>
      <mat-datepicker #pickerReader [disabled]="false" [startView]="startView"
        (monthSelected)="selectedOnlyYearAndMonth($event)"></mat-datepicker>
    </ion-item>
  </ion-toolbar>

  <ion-grid class="reader-grid-container">
    <ion-row>
      <ion-col class="reader-container ion-padding" sizeXs="12" sizeLg="5">
        <ion-grid class="has-height--100 has-overflow--hidden reader-partners">
          <ion-row class="has-height--100">
            <ion-col class="ion-align-items-center has-display--flex ion-text-center" sizeXs="12" sizeMd="12"
              sizeXl="6">
              <section class="reader-container__title has-bg--transparent">
                <ion-img slot="start" class="ion-margin-end" src="assets/images/reader/comunnity-icon.svg"></ion-img>
                <ion-title slot="start"> <ion-text color="primary"><strong> Socios</strong></ion-text>
                  <ion-text color="dark" class="ion-text-wrap"> <strong> de la comunidad</strong></ion-text>
                </ion-title>
              </section>
            </ion-col>
            <ion-col size="12" sizeMd="12" sizeXl="6" *ngIf="locationsList$">
              <section class="reader-container__select">
                <ion-select class="is-input--select" [(ngModel)]="locationSelected"
                  placeholder="Selecciona la comunidad" (ngModelChange)="reloadPartnersToRead()">
                  <ion-select-option *ngFor="let location of locationsList$ | async"
                    [value]="location.location">{{location.location}}</ion-select-option>
                </ion-select>
                <ion-title><ion-text color="primary"><strong>{{partnersToReadList?.length}}</strong></ion-text>
                  Socios</ion-title>
              </section>
            </ion-col>
            <ion-col class="ion-margin-vertical" sizeXs="12" sizeMd="6" offsetMd="3">
              <section class="reader-container__dashboard">
                <section class="has-display--flex">
                  <img class="ion-margin-end" src="assets/images/reader/check-icon.svg" alt="check icon">
                  <section class="has-display--flex has-display--flex--column">
                    <ion-label>Lecturados</ion-label>
                    <ion-label><strong>{{partnersToReadList | partnerReadered}} Socios</strong></ion-label>
                  </section>
                </section>
                <section class="has-display--flex">
                  <img class="ion-margin-end" src="assets/images/reader/default-check-icon.svg" alt="default-check">
                  <section class="has-display--flex has-display--flex--column">
                    <ion-label>Restantes</ion-label>
                    <ion-label><strong>{{partnersToReadList | partnerReadered:false}} Socios</strong></ion-label>
                  </section>
                </section>
              </section>
            </ion-col>
            <ion-col class="partners-list-data" size="12">
              <ion-searchbar class="is-input--searchbar" placeholder="Busca a un socio de la comunidad..."
                inputmode="text" type="text" [debounce]="250" (ionChange)="searchDataEvent($event)"></ion-searchbar>
              <section class="reader-container__partner ion-padding">
                <section class="has-display--flex ion-align-items-center">
                  <img class="ion-margin-end" src="assets/images/reader/users.svg" alt="usuarios">
                  <ion-label class="is-text has-font--700 is-color--primary">Socios</ion-label>
                </section>
                <ion-label class="is-color--medium is-text--normal" *ngIf="!isAdminOrDebtCollector">Verifica que cada
                  socio tenga una
                  lecturación</ion-label>

                <section
                  *ngIf="partnersToReadList && (partnersToReadList | filterPartnerByNameOrWaterMeter:textToSearch).length > 0 && dataPrice"
                  class="ion-margin-vertical partners-list-container">
                  <ng-container *ngIf="isAdminOrDebtCollector">
                    <section class="ion-padding-start"
                      *ngFor="let partner of partnersToReadList | filterPartnerByNameOrWaterMeter:textToSearch; index as i"
                      (click)="getAllWaterConsumedByPartner(partner, i)">
                      <app-readered-data [partner]="partner" [index]="i" [dataPrice]="dataPrice.debts"
                        [actualIndexSelected]="index"></app-readered-data>
                    </section>
                  </ng-container>

                  <ng-container *ngIf="!isAdminOrDebtCollector">
                    <section class="ion-hide-md-up ion-padding-start"
                      *ngFor="let partner of partnersToReadList | filterPartnerByNameOrWaterMeter:textToSearch; index as i"
                      (click)="addNewPaymentByReader(partner, i)">
                      <app-readered-data [dataPrice]="dataPrice.debts" [partner]="partner" [index]="i"
                        [actualIndexSelected]="index"></app-readered-data>
                    </section>
                  </ng-container>
                </section>

                <app-empty-search
                  *ngIf="(partnersToReadList | filterPartnerByNameOrWaterMeter:textToSearch).length === 0"
                  [subtitle]="'Seleccione otra comunidad o ingrese otro numero de medidor o nombre de socio'"
                  [offsetMd]="0" [sizeMd]="12" [noMargin]="true">
                </app-empty-search>
              </section>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col class="ion-hide-lg-down" sizeLg="7" *ngIf="isAdminOrDebtCollector">
        <section class="ion-padding reader-result"
          *ngIf="partnerSelected && waterConsumedByPartner?.length > 0 && isAdminOrDebtCollector">
          <app-water-consumed-data [dataPrice]="dataPrice" [partnerSelected]="partnerSelected"
            [waterConsumedList]="waterConsumedByPartner | generateDebtsWaterConsumePay:dataPrice.debts"
            (reloadWaterConsumedByPartner)="reloadWaterConsumedByPartner($event)"></app-water-consumed-data>
        </section>

        <section class="ion-text-center ion-padding-top"
          *ngIf="!(partnerSelected && waterConsumedByPartner?.length > 0)">
          <p class="is-text is-text--title">¡Bienvenido/a!</p>
          <p class="is-text is-text--title ion-margin-bottom">¿Listo para <strong>monitorear</strong> el consumo de
            <strong class="is-color--primary">agua</strong>?
          </p>
          <ion-img class="reader-result-img" [src]="'assets/images/reader/image-reader.svg'"></ion-img>
          <p *ngIf="partnerSelected && partnerSelected.name" class="ion-margin-vertical is-text">El socio <strong
              class="is-color--primary"> {{partnerSelected.name + ' ' + partnerSelected.last_name}} </strong> aun no
            tiene registrado una lectura para el mes actual</p>

          <article class="warning-message-reader"
            *ngIf="partnerSelected?.waterCut && partnerSelected?.waterCut?.active">
            <ion-text color="danger">
              El medidor del socio se encuentra {{ partnerSelected.waterCut.meter_broken? 'averiado asigne un nuevo
              medidor para la lecturación':'en corte, el socio debe cancelar sus deudas para la reconexión'}}
            </ion-text>
          </article>

          <ion-button *ngIf="partnerSelected && partnerSelected.name && !partnerSelected.waterCut" expand="block"
            fill="solid" shape="round" (click)="addNewPayment()">
            Registrar nueva lectura
          </ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="ion-hide-sm-up" *ngIf="!isAdminOrDebtCollector">
  <ion-fab-button color="primary" mode="ios" size="large" fill="outline"
    (click)="addNewPaymentByReader(partnersToReadList[index], index)">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<section *ngIf="showLoading" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>