@import '../../../../../assets/mixins/media-breackpoints';

@keyframes wave {
  0% {transform: translateX(0);}
  50% {transform: translateX(-12.5%);}
  75% {transform: translateX(-25%);}
  100% {transform: translateX(-50%);}
}

.reader-grid-container {
  height: calc(100vh - 56px);
  overflow: hidden;

  @include medium {
    height: calc(100vh - 113px);
    margin-top: 56px;
  }
}

.reader-grid-container>ion-row {
  height: 100%;
}

.input-date {
  background: white;
  padding: 5px 16px;
  border: 1px solid #00000025;
  border-radius: 8px;
  margin-right: 6px;
}

.reader {
  width: 100%;

  &-title {
    max-width: 290px;
    margin: auto;
  }

  &-image {
    text-align: center;
  }

  &-btn-start {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 80px);
    z-index: 1;

    @include medium {
      bottom: 30%;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background: url(../../../../../assets/images/reader/bg-footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include medium {
      height: 500px;
    }
  }

  &-container {
    height: 100%;
    background: url(../../../../../assets/images/reader/bg-container.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      @include medium {
        margin-bottom: 0px;
      }
    }

    &__select {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .is-input--select {
        flex: 1 1 auto;
      }

      @include medium {}
    }

    &__dashboard {
      display: flex;
      gap: 16px;
      justify-content: space-between;
    }

    &__partner {
      background-color: #FFFFFF50;
      border-radius: 8px;
      height: calc(100% - 56px);
    }
  }

  &-result {
    background: #DAF0FE;
    height: 250px;
    border-radius: 50%;

    &-info {
      gap: 10px;
      flex-wrap: nowrap;
      background-color: #ffffff70;
      border-radius: 8px;
    }

    &-img {
      width: 100%;
      max-width: 600px;
      margin: auto;
    }
  }
}

.card-consumer {
  background-color: #ffffff;
  background-image: url(../../../../../assets/images/reader/bg-consumer.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.actual-consumer {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 20px solid #0284C970;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* waves */
.ocean {
  height: 100%;
  /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 200%;
  height: 100%;
  animation: wave 5s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 13s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 15s -1s linear infinite;
  opacity: 0.5;
}

.partners-list-container {
  overflow-y: auto;
  max-height: calc(100% - 40px);
  min-height: 300px;

  @include medium {
    min-height: 350px;
  }
}

ion-fab-button {
  width: 60px;
  height: 60px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

ion-fab.fab-horizontal-center {
  margin-inline-start: -30px;
}

.warning-message-reader {
  background-color: #eedede;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}

.reader-partners {
  display: flex;
  flex-direction: column;
}

.partners-list-data {
  height: calc(100% - 160px); 
  overflow: hidden;
}