@mixin chart-container {
  .main-chart__container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@mixin table-content {

  .mat-cell,
  .mat-header-cell {
    padding: 16px;
    color: var(--ion-color-darks) !important;
  }

  .row-content {
    display: block;
    color: var(--ion-color-darks);
  }

  .mat-row:nth-child(even) {
    background-color: #D7DDE430;
  }

  .mat-column-action {
    max-width: 100px;
  }

}