@mixin titleMobile {

  font-weight: bold;
  font-size: 1.25rem; //20px
  line-height: 24px;
  color: var(--ion-color-darks);
}

@mixin titleTablet {
  font-weight: bold;
  font-size: 1.5rem; //24px
  line-height: 29px;
  color: var(--ion-color-darks);
}

@mixin titleDesktop {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--ion-color-darks);
}

@mixin mainDesk {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: var(--ion-color-darks);
}

@mixin subtitleDesktop {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--ion-color-darks);
}

@mixin bodyDesk {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--ion-color-darks);
}

@mixin detailDesk {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--ion-color-darks);
}

@mixin smallDesk {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--ion-color-darks);
}

@mixin pageTablet {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--ion-color-darks);
}

@mixin inputTablet {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--ion-color-darks);
}

@mixin bodyTablet {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--ion-color-darks);
}

@mixin paragraphTablet {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--ion-color-darks);
}

@mixin pageMobile {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--ion-color-darks);
}

@mixin inputMobile {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--ion-color-darks);
}

@mixin bodyMobile {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--ion-color-darks);
}

@mixin paragraphMobile {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--ion-color-darks);
}

@mixin smallMobile {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--ion-color-darks);
}
