<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start">Lista de multas</ion-title>
    <ion-button class="ion-text-capitalize ion-hide-md-down" slot="end" expand="block" shape="round"
      (click)="addDebts()">
      <ion-icon class="ion-margin-end" slot="start" name="add"></ion-icon>
      Nueva multa
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar *ngIf="state" type="indeterminate" reversed="true" color="primary" buffer="0.2">
  </ion-progress-bar>

  <ion-grid class="ion-padding has-margin-top--70">
    <ion-row class="ion-margin-top" *ngIf="false">
      <ion-col class="col-container ion-hide-md-down ion-margin-bottom" sizeMd="6">
        <ion-searchbar class="search-container" mode="md" placeholder="Ingrese N° de Medidor" animated type="text"
          autocomplete="on" [debounce]="250">
          <!-- [(ngModel)]="meterNumber" -->
        </ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="debts && debts.length > 0">
      <ion-col size="12">
        <app-debts [debts]="debts"></app-debts>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-empty-data *ngIf="debts && debts.length === 0" [btnTitle]="'Agregar Nueva Multa'" (btnEventEmitter)="addDebts()">
  </app-empty-data>

  <ion-fab class="ion-hide-md-up" vertical="bottom" horizontal="end" slot="fixed" (click)="addDebts()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
