@import '../../../../../assets/mixins/helper';

@include chart-container;

.search-container {
  padding: 0px 8px;
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  box-sizing: border-box;
  overflow: hidden;
}


.filter-row-container {
  position: relative;
  background-color: var(--ion-color-medium);

  &__collapse-btn {
    right: 0;
    bottom: 15%;
  }

  &__collapse-btn-large {
    right: 0;
    bottom: 70px;
  }
}

.row-data-container {
  background-color: var(--ion-color-medium);
}

.filter-row {
  z-index: 1;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;
  background-color: var(--ion-color-medium);
}

.accordion-filter-container {
  padding: 0px;
  position: absolute;
  z-index: 200;
  background-color: var(--ion-color-dark-tint);
}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 5px);

  margin: 3px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-primary-contrast);
}