<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start">Lista de Socios</ion-title>
    <ion-button *ngIf="true" class="ion-text-capitalize ion-margin-end" slot="end" expand="block" shape="round"
      fill="outline" (click)="downloadPdf()">
      <ion-icon class="ion-margin-end" slot="start" name="download-outline"></ion-icon>
      Reporte
    </ion-button>
    <ion-button class="ion-text-capitalize ion-hide-md-down" slot="end" expand="block" shape="round"
      [routerLink]="['registrar']">
      <ion-icon class="ion-margin-end" slot="start" name="add"></ion-icon>
      Nuevo socio
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar *ngIf="state" type="indeterminate" reversed="true" color="primary" buffer="0.2">
  </ion-progress-bar>
  <ion-grid class="ion-padding has-margin-top--70">
    <ion-row *ngIf="chartData$" class="ion-margin-bottom" [@fadeInOut]="collapsed">
      <ion-col sizeSm="12" sizeMd="12" sizeLg="6" offsetLg="3">
        <article class="main-chart__container" id="pie-chart-parent">
          <app-advanced-pie [single]="(chartData$ | async)?.data"></app-advanced-pie>
        </article>
      </ion-col>
    </ion-row>

    <ion-row class="filter-row ion-hide-md-up">
      <ion-col size="1.5">
        <article class="accordion-filter-container">
          <ion-accordion-group>
            <ion-accordion value="first" toggle-icon-slot="start" toggle-icon="filter-outline">
              <ion-item slot="header" class="ion-no-margin">
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-item>
                  <ion-label>Filtrar por estado</ion-label>
                  <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event, 'status')">
                    <ion-select-option [value]="null">Todos</ion-select-option>
                    <ion-select-option [value]="true">Activos</ion-select-option>
                    <ion-select-option [value]="false">Inactivos</ion-select-option>
                    <ion-select-option value="En Corte">En corte</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Comunidad</ion-label>
                  <ion-select placeholder="" [(ngModel)]="locationSelected" interface="popover"
                    (ionChange)="filterSelect($event, 'community')">
                    <ion-select-option [value]="location.location" *ngFor="let location of locationsList$ | async">
                      {{location.location}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </article>
      </ion-col>

      <ion-col size="9">
        <ion-searchbar class="search-container" mode="md" placeholder="Buscar socio por Apellido" animated type="text"
          autocomplete="on" [debounce]="250" (ionChange)="searchWaterMeter($event)">
        </ion-searchbar>
      </ion-col>

      <ion-col size="0.8  ">
        <article class="expand-collapse-btn-container filter-row-container__collapse-btn">
          <ion-button color="primary" class="ion-no-padding" shape="round" (click)="toggleExpandAndCollapsed()">
            <ion-icon [name]="iconName"></ion-icon>
          </ion-button>
        </article>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top filter-row-container ion-hide-md-down">
      <article class="expand-collapse-btn-container filter-row-container__collapse-btn-large">
        <ion-button color="primary" class="ion-no-padding" shape="round" (click)="toggleExpandAndCollapsed()">
          <ion-icon [name]="iconName"></ion-icon>
        </ion-button>
      </article>
      <ion-col class="col-container ion-margin-bottom ion-hide-md-down" sizeXs="12" sizeSm="4" sizeMd="3">
        <ion-item>
          <ion-label>Filtrar por estado</ion-label>
          <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event, 'status')">
            <ion-select-option [value]="null">Todos</ion-select-option>
            <ion-select-option [value]="true">Activos</ion-select-option>
            <ion-select-option [value]="false">Inactivos</ion-select-option>
            <ion-select-option value="En Corte">En corte</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col class="col-container ion-hide-md-down ion-margin-bottom" sizeSm="12" sizeMd="6">
        <ion-searchbar class="search-container" mode="md" placeholder="Buscar socio por Apellido" animated type="text"
          autocomplete="on" [debounce]="250" (ionChange)="searchWaterMeter($event)">
        </ion-searchbar>
      </ion-col>

      <ion-col class="col-container ion-margin-bottom ion-hide-md-down" sizeSm="4" sizeMd="3">
        <ion-item>
          <ion-label>Comunidad</ion-label>
          <ion-select placeholder="" [(ngModel)]="locationSelected" interface="popover"
            (ionChange)="filterSelect($event, 'community')">
            <ion-select-option [value]="location.location" *ngFor="let location of locationsList$ | async">
              {{location.location}}
            </ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center has-height--100 has-overflow--hidden row-data-container"
      *ngIf="partnersList$ && partnersList$ | async as partnersList" style="z-index: 0;">
      <ng-container *ngIf="(partnersList | partnerFilterByFullName:textToSearch).length > 0;else emptyDataPartners">
        <ion-col size="12" class="has-height--100 has-overflow--hidden">
          <app-partners-list [partnersList]="partnersList | partnerFilterByFullName:textToSearch"></app-partners-list>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ng-template #emptyDataPartnersSearch>
    <app-empty-search></app-empty-search>
  </ng-template>

  <ng-template #emptyDataPartners>
    <ng-container
      *ngIf="!!textToSearch.length || statusSelected !== null;then emptyDataPartnersSearch;else emptyDataContainer"></ng-container>
  </ng-template>

  <ng-template #emptyDataContainer>
    <app-empty-data [btnTitle]="'Agregar Nuevo Socio'" (btnEventEmitter)="goToPartnerRegister()">
    </app-empty-data>
  </ng-template>

  <ion-fab class="ion-hide-md-up" vertical="bottom" horizontal="end" slot="fixed"
    [routerLink]="['/admin/socios/registrar']">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<section *ngIf="state" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>