<!-- <ion-content class="main-container"> -->
<!-- <ion-grid> -->
<!-- <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col
        sizeXs="3" offsetXs="2"
        sizeSm="3"
        sizeMd="6" offsetMd="3"
        sizeXl="4" offsetXl="4"
        class="ion-text-center">
        <figure class="main-container__logo-container">
          <ion-img src="assets/images/empty-state/data/empty-state-data.jpg" alt="imagen de datos vacios"></ion-img>
        </figure>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        class="ion-text-center">
        <ion-text class="ion-padding-bottom" *ngIf="showTitle">
          <h1 class="title">
            No existen datos
          </h1>
        </ion-text>
        <ion-text class="subtitle">
          <h2 class="subtitle">
            ¡Ups, no existen datos registrados.!
          </h2>
        </ion-text>
        <ion-button
          class="ion-text-capitalize"
          color="primary"
          shape="round"
          (click)="actionBtn()"
          *ngIf="showButton">
          {{ btnTitle }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<section class="empty-data-container">
  <article class="empty-data-container__figure-container">
    <figure class="main-container__logo-container">
      <ion-img src="assets/images/empty-state/data/empty-state-data.jpg" alt="imagen de datos vacios"></ion-img>
    </figure>
  </article>
  <article>
    <ion-text class="ion-padding-bottom" *ngIf="showTitle">
      <h1 class="title">
        No existen datos
      </h1>
    </ion-text>
    <ion-text class="subtitle">
      <h2 class="subtitle">
        ¡Ups, no existen datos registrados.!
      </h2>
    </ion-text>
  </article>
  <article *ngIf="showButton">
    <ion-button class="ion-text-capitalize" color="primary" shape="round" (click)="actionBtn()">
      {{ btnTitle }}
    </ion-button>
  </article>
</section>
<!-- </ion-content> -->