@import "../../../../assets/mixins/tipografia.scss";
@import "../../../../assets/mixins/media-breackpoints";

.empty-data-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;

  &__figure-container {
    width: 43%;
    max-width: 600px
  }
}

.title {
  @include titleMobile;

  @include medium {
    @include titleTablet;
  }

  @include large {
    @include titleDesktop;
  }
}

.subtile {
  @include bodyMobile;

  @include medium {
    @include bodyTablet;
  }

  @include large {
    @include subtitleDesktop;
  }
}