<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start" class="ion-margin-start"> Cambiar Estado del Socio </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium" class="ion-padding">
  <form action="">

    <ion-title>
      Nombre del socio: {{ dataPartner.last_name }} {{ dataPartner.name }}
    </ion-title>

    <h2>
      ¿Por qué entrará en inactivo este Socio?
    </h2>

    <ion-list>
      <ion-item>
        <ion-label>Awesome Label</ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Estado:</ion-label>

      <ion-select placeholder="Seleccione una opcion" value="medidorDefectuoso" interface="popover"
      mode="ios">
        <ion-select-option value="medidorDefectuoso">Medidor Defectuoso</ion-select-option>
        <ion-select-option value="otro">Otro...</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-textarea class="ion-margin-bottom" type="text"
        placeholder="Ingrese la razon por la cual se dara de baja al socio">
      </ion-textarea>
    </ion-item>

    <ion-button class="ion-margin" color="primary" expand="block" shape="round">Cambiar estado</ion-button>

  </form>
</ion-content>
