<ion-header class="header-container">
  <ion-toolbar color="dark ion-text-center" class="ion-padding-top ion-padding-bottom">
    <ion-title class="day-detail ion-text-capitalize">{{ date | date:'EEEE' }}</ion-title>
    <ion-text class="hour-detail ion-text-capitalize">{{ date | date:'mediumTime' }}</ion-text>
    <ion-text class="date-detail ion-text-capitalize">{{ date | date:'longDate' }}</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content__navbar" color="dark">
  <ion-title class="ion-padding list-nav-title" color="light">Panel de control</ion-title>
  <ion-list color="dark" class="ion-no-padding" style="border-bottom: 1px solid #fff;">
    <ion-item *ngIf="false" color="dark" [routerLink]="['/admin/inicio']" appRouterActive (click)="closeMenu()">
      <ion-icon name="home-outline" class="ion-margin-end"></ion-icon> Inicio
    </ion-item>
    <ion-item color="dark" [routerLink]="['/admin/medidores']" appRouterActive (click)="closeMenu()">
      <ion-icon name="train-outline" class="ion-margin-end"></ion-icon> Medidores
    </ion-item>

    <ion-item color="dark" [routerLink]="['/admin/socios']" appRouterActive (click)="closeMenu()">
      <ion-icon name="people-outline" class="ion-margin-end"></ion-icon> Socios
    </ion-item>

    <ion-item color="dark" [routerLink]="['/admin/ingresos']" appRouterActive (click)="closeMenu()">
      <ion-icon name="log-in-outline" class="ion-margin-end"></ion-icon> Ingresos
    </ion-item>

    <ion-item color="dark" [routerLink]="['/admin/gastos']" appRouterActive (click)="closeMenu()">
      <ion-icon name="log-out-outline" class="ion-margin-end"></ion-icon> Gastos
    </ion-item>

    <ion-item color="dark" *ngIf="false" [routerLink]="['/admin/actas']" appRouterActive (click)="closeMenu()">
      <ion-icon name="people-outline" class="ion-margin-end"></ion-icon> Actas
    </ion-item>

    <ion-item color="dark" [routerLink]="['/admin/lecturador']" appRouterActive (click)="closeMenu()">
      <ion-icon name="qr-code-outline" class="ion-margin-end"></ion-icon> Lecturador
    </ion-item>
  </ion-list>

  <ion-title class="ion-padding list-nav-title">Administracion</ion-title>
  <ion-list color="dark" class="ion-no-padding" style="border-bottom: 1px solid #fff;">
    <ion-item color="dark" [routerLink]="['/admin/precios']" appRouterActive (click)="closeMenu()">
      <ion-icon name="cash-outline" class="ion-margin-end"></ion-icon> Precios
    </ion-item>
    <!-- <ion-item color="dark" [routerLink]="['/admin/multas']" appRouterActive (click)="closeMenu()">
      <ion-icon name="card-outline" class="ion-margin-end"></ion-icon> Multas
    </ion-item> -->
  </ion-list>

  <figure class="logo-container">
    <ion-img src="/assets/images/login/logo.png" alt="Imagen del logo "></ion-img>
  </figure>

</ion-content>