:host {
  height: 100%;
  background-color: #0A3556;
  border-bottom-right-radius: 40px;
}


.active {
  background-color: var(--ion-color-primary);
}

.main-content__navbar {
  height: 80vh;
  // width: 75%;
}

.day-detail {
  font-weight: 500;
  font-size: 1.5rem; //24px;
}

.hour-detail {
  font-weight: bold;
  font-size: 3rem; //48px
  display: block;
}
.logo-container{
  width: 75px;
  height: 75px;
  margin: 25px auto;
}
.logo-container img{
  width: 100%;
}
.list-nav-title{
  font-size: 0.875rem; // 14px
}

@media(min-height: 991px){
  .header-container{
    width: 100%;
  }

  .main-content__navbar {
    width: 100%;
  }
}
