@import '../../../../../assets/mixins/_media-breackpoints.scss';

:host {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.ngx-line-chard-container {
  width: 100%;
  min-width: 800px;
  max-width: 100%;
  overflow-x: auto !important;

  @include medium {
    min-width: 100%;
    max-width: 100%;
  }
}