<ion-list>
  <ion-item
    button
    (click)="editData()">
    <ion-icon
      class="ion-margin-end"
      color="primary"
      slot="start"
      name="pencil-outline"
      >
    </ion-icon>
    <ion-text color="primary">
      Editar
    </ion-text>
  </ion-item>
  <ion-item
    button>
    <ion-icon
      class="ion-margin-end"
      color="danger"
      slot="start"
      name="trash-outline"
      >
    </ion-icon>
    <ion-text color="danger">
      Eliminar
    </ion-text>
  </ion-item>
</ion-list>

<!-- <swal
  #deleteSwal
  title="¿Estás seguro de eliminar el medidor?"
  text="Una vez eliminado no podra recuperarlo"
  icon="question"
  confirmButtonText="Eliminar"
  [reverseButtons]="true"
  [showCancelButton]="true"
  [focusCancel]="true"
  [backdrop]="true"
  (confirm)="deleteData(confirmSwal)">
</swal>
    [swal]="deleteSwal"


<swal
  #confirmSwal
  [swalOptions]="options"
  >
</swal> -->
