<article *ngIf="!multiple" class="config-card-container">
  <ion-card *ngIf="!multiple" class="config-container ion-padding"
    [ngClass]="{'ion-margin-bottom': hasMargin, 'config-container--selected': showOnlyInput}">
    <img class="config-container__image" [src]="image" alt="imagen representativa">
    <ion-card-content class="config-container__info">
      <ion-card-title class="is-text is-text--title">{{title}}</ion-card-title>
      <ion-item *ngIf="!showOnlyInput">
        <ion-label color="primary">{{value | currency: currency }}</ion-label>
      </ion-item>
      <ion-item color="medium" *ngIf="showOnlyInput">
        <ion-label position="floating">{{'Precio (' + currency + '): '}}</ion-label>
        <ion-input [type]="typeInput" [formControl]="formControlPrice" [value]="value" [placeholder]="placeholder"
          [debounce]="100" (ionBlur)="valueEventEmitter.emit(value)"></ion-input>
      </ion-item>

      <div *ngIf="showOnlyInput && formControlPrice.invalid && formControlPrice.errors.pattern">
        <ion-note color="danger">Ingrese número mayor o igual a 0</ion-note>
      </div>
    </ion-card-content>

  </ion-card>
  <ion-fab-button *ngIf="showIconEdit" color="light" class="ion-edit-button" (click)="updateDataPrices()">
    <ion-icon color="primary" mode="md" [name]="!showOnlyInput?'create-outline' : 'save-outline'"></ion-icon>
  </ion-fab-button>
  <figure class="question-content" *ngIf="showOnlyInput">
    <ion-icon color="light" name="help-outline"></ion-icon>
  </figure>
</article>

<article *ngIf="multiple" class="config-card-container">
  <ion-card *ngIf="multiple" class="config-container config-container--multiple ion-padding"
    [ngClass]="{'ion-margin-bottom': hasMargin, 'config-container--selected': showOnlyInput}">
    <img class="config-container__image" [src]="image" alt="imagen representativa">
    <ion-card-content
      class="config-container__info ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
      <ion-card-title class="is-text is-text--title">{{title}}</ion-card-title>
      <ion-card-subtitle>{{subTitle}}</ion-card-subtitle>
      <ion-list [ngClass]="{'list-container': showOnlyInput}">
        <ion-item>
          <ion-label *ngIf="!showOnlyInput">0 - {{firstRange}} m3:</ion-label>
          <ion-label slot="end" *ngIf="!showOnlyInput">
            <ion-text color="primary">
              <strong>
                {{firstValue | currency: currency }}
              </strong>
            </ion-text>
          </ion-label>
          <ion-label position="floating" *ngIf="showOnlyInput">0 - {{firstRange}} m3:</ion-label>
          <ion-input *ngIf="showOnlyInput" [type]="typeInput" [formControl]="firstRangeControlPrice"
            [placeholder]="placeholder" [debounce]="100"
            (ionBlur)="firstPriceEventEmitter.emit(firstValue)"></ion-input>
        </ion-item>

        <div *ngIf="showOnlyInput && firstRangeControlPrice.invalid && firstRangeControlPrice.errors.pattern">
          <ion-note color="danger">Ingrese número mayor o igual a 0</ion-note>
        </div>

        <ion-item class="ion-margin-top">
          <ion-label *ngIf="!showOnlyInput"> {{firstRange + 1}} - {{secondRange}} m3:</ion-label>
          <ion-label slot="end" *ngIf="!showOnlyInput">
            <ion-text color="primary">
              <strong>
                {{secondValue | currency: currency }}
              </strong>
            </ion-text>
          </ion-label>
          <ion-label position="floating" *ngIf="showOnlyInput">{{firstRange + 1}} - {{secondRange}} m3:</ion-label>
          <ion-input *ngIf="showOnlyInput" [type]="typeInput" [formControl]="secondRangeControlPrice"
            [placeholder]="placeholder" [debounce]="100"
            (ionBlur)="secondPriceEventEmitter.emit(secondValue)"></ion-input>
        </ion-item>

        <div *ngIf="showOnlyInput && secondRangeControlPrice.invalid && secondRangeControlPrice.errors.pattern">
          <ion-note color="danger">Ingrese número mayor o igual a 0</ion-note>
        </div>

        <ion-item class="ion-margin-top">
          <ion-label *ngIf="!showOnlyInput"> Mayor a {{secondRange}} m3:</ion-label>
          <ion-label slot="end" *ngIf="!showOnlyInput">
            <ion-text color="primary">
              <strong>
                {{thirdValue | currency: currency }}
              </strong>
            </ion-text>
          </ion-label>
          <ion-label position="floating" *ngIf="showOnlyInput">Mayor {{secondRange}} m3:</ion-label>
          <ion-input *ngIf="showOnlyInput" [type]="typeInput" [formControl]="thirdRangeControlPrice"
            [placeholder]="placeholder" [debounce]="100"
            (ionBlur)="thirdPriceEventEmitter.emit(thirdValue)"></ion-input>
        </ion-item>

        <div *ngIf="showOnlyInput && thirdRangeControlPrice.invalid && thirdRangeControlPrice.errors.pattern">
          <ion-note color="danger">Ingrese número mayor o igual a 0</ion-note>
        </div>

        <ion-item class="ion-margin-top">
          <ion-label *ngIf="!showOnlyInput"> Precio mínimo: </ion-label>
          <ion-label slot="end" *ngIf="!showOnlyInput">
            <ion-text color="primary">
              <strong>
                {{minimal | currency: currency }}
              </strong>
            </ion-text>
          </ion-label>
          <ion-label position="floating" *ngIf="showOnlyInput">Precio mínimo: </ion-label>
          <ion-input *ngIf="showOnlyInput" [type]="typeInput" [formControl]="minimalControlPrice"
            [placeholder]="placeholder" [debounce]="100" (ionBlur)="minimalPriceEventEmitter.emit(minimal)"></ion-input>
        </ion-item>

        <div
          *ngIf="showOnlyInput && showOnlyInput && minimalControlPrice.invalid && minimalControlPrice.errors.pattern">
          <ion-note color="danger">Ingrese número mayor o igual a 0</ion-note>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab-button *ngIf="showIconEdit" color="light" class="ion-edit-button" (click)="updateDataPrices()">
    <ion-icon color="primary" mode="md" [name]="!showOnlyInput?'create-outline' : 'save-outline'"></ion-icon>
  </ion-fab-button>
  <figure class="question-content" *ngIf="showOnlyInput">
    <ion-icon color="light" name="help-outline"></ion-icon>
  </figure>
</article>