@import '../../../../../../assets/scss/ionic-componets';

.config-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 0px;
  @include input-ionic;

  &--multiple {
    align-items: flex-start;
  }

  &--selected {
    border-radius: 16px;
    border: 5px solid #0284C9;
    box-shadow: 0px 30px 60px #0284C915;
    padding: 20px 20px 20px 26px;
    background-color: #E9F6FE;
  }

  &__image {
    width: 50px;
    height: 50px;
  }

  &__info {
    flex: 1 1 auto;
  }
}

.config-card-container {
  position: relative;

  .ion-edit-button {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .question-content {
    position: absolute;
    margin: 0px;
    top: calc(50% - 18px);
    left: -20px;
    background-color: #0284C9;
    border-radius: 50%;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.config-container:hover {
  box-shadow: 0px 30px 60px #B2B2B225;
  transition: 0.3s;
}

.list-container {
  background-color: #E9F6FE;
}