<ion-grid>
  <ion-row>
    <ion-col class="ion-hide-md-down">
      <ion-item>
        <ion-label>
          <strong>Código</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>
          <strong>Descripción</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-xl-down">
      <ion-item>
        <ion-label>
          <strong>Monto Bs.</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1">
      <ion-item class="ion-justify-content-center">
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col >
      <ion-item *ngFor="let debt of debts; index as i">
        <ion-label color="primary">
          {{debt.id}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-md-down">
      <ion-item *ngFor="let debt of debts; index as i">
        <ion-label>
          {{ debt.description }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item *ngFor="let debt of debts; index as i">
        <ion-label>
          {{ debt.amount| currency:' Bs. ' }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1">
      <ion-item
        *ngFor="let debt of debts; index as i"
        >
        <ion-button
          *ngIf="false"
          expand="block"
          slot="end"
          fill="clear"
          color="primary">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
