// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0284C9;
  --ion-color-primary-rgb: 2, 132, 201;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0274b1;
  --ion-color-primary-tint: #1b90ce;

  --ion-color-secondary: #79BBD9;
  --ion-color-secondary-rgb: 121, 187, 217;
  --ion-color-secondary-contrast: #3A4651;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #6aa5bf;
  --ion-color-secondary-tint: #86c2dd;

	--ion-color-tertiary: #D7E5EE;
	--ion-color-tertiary-rgb: 215,229,238;
	--ion-color-tertiary-contrast: #3A4651;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #bdcad1;
	--ion-color-tertiary-tint: #dbe8f0;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #3A4651;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #3A4651;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #F94144;
  --ion-color-danger-rgb: 249, 65, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #db393c;
  --ion-color-danger-tint: #fa5457;

  --ion-color-medium: #F0F3F6;
  --ion-color-medium-rgb: 240, 243, 246;
  --ion-color-medium-contrast: #3A4651;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #d3d6d8;
  --ion-color-medium-tint: #f2f4f7;

  --ion-color-light: #F8F6F2;
  --ion-color-light-rgb: 248, 246, 242;
  --ion-color-light-contrast: #3A4651;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dad8d5;
  --ion-color-light-tint: #f9f7f3;

  --ion-color-dark: #0A3556;
  --ion-color-dark-rgb: 10, 53, 86;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #092f4c;
  --ion-color-dark-tint: #234967;

}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #0284C9;
// 	--ion-color-primary-rgb: 2,132,201;
// 	--ion-color-primary-contrast: #ffffff;
// 	--ion-color-primary-contrast-rgb: 255,255,255;
// 	--ion-color-primary-shade: #0274b1;
// 	--ion-color-primary-tint: #1b90ce;

// 	--ion-color-secondary: #79BBD9;
// 	--ion-color-secondary-rgb: 121,187,217;
// 	--ion-color-secondary-contrast: #000000;
// 	--ion-color-secondary-contrast-rgb: 0,0,0;
// 	--ion-color-secondary-shade: #6aa5bf;
// 	--ion-color-secondary-tint: #86c2dd;

// 	--ion-color-tertiary: #79BBD9;
// 	--ion-color-tertiary-rgb: 121,187,217;
// 	--ion-color-tertiary-contrast: #000000;
// 	--ion-color-tertiary-contrast-rgb: 0,0,0;
// 	--ion-color-tertiary-shade: #6aa5bf;
// 	--ion-color-tertiary-tint: #86c2dd;

// 	--ion-color-success: #2dd36f;
// 	--ion-color-success-rgb: 45,211,111;
// 	--ion-color-success-contrast: #000000;
// 	--ion-color-success-contrast-rgb: 0,0,0;
// 	--ion-color-success-shade: #28ba62;
// 	--ion-color-success-tint: #42d77d;

// 	--ion-color-warning: #ffc409;
// 	--ion-color-warning-rgb: 255,196,9;
// 	--ion-color-warning-contrast: #000000;
// 	--ion-color-warning-contrast-rgb: 0,0,0;
// 	--ion-color-warning-shade: #e0ac08;
// 	--ion-color-warning-tint: #ffca22;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #0A3556;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #92949c;
//     --ion-color-medium-rgb: 146,148,156;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #808289;
//     --ion-color-medium-tint: #9d9fa6;

//     --ion-color-light: #F8F6F2;
//     --ion-color-light-rgb: 248,246,242;
//     --ion-color-light-contrast: #000000;
//     --ion-color-light-contrast-rgb: 0,0,0;
//     --ion-color-light-shade: #dad8d5;
//     --ion-color-light-tint: #f9f7f3;


//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }
