@import '../../../../../../../assets/mixins/media-breackpoints';

.card-info {
  &__partner {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      height: 100%;
    }
  }

  &__chart {
    height: 400px;

    @include medium {
      min-width: 100%;
      max-width: 100%;
    }

    &-container {
      flex-grow: 1;
      min-width: 400px;
      max-width: 100%;
      overflow-x: auto;
      padding-bottom: 15px;
    }
  }
}

.input-date {
  background: white;
  padding: 5px 16px;
  border: 1px solid #00000025;
  border-radius: 8px;
  margin-right: 6px;
}

ion-grid {
  .item-label-row {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.water-meter-observations {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
  max-width: 160px;
  box-sizing: border-box;
  height: 70px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.water-meter-cut,
.water-meter-broken {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  color: #3A4651;
  font-weight: 500;
  box-sizing: border-box;
}

.water-meter-cut {
  background-color: #F9C74F;
}

.water-meter-broken {
  background-color: #ee5c5e;
  color: #fffefe;
  font-weight: 600;
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  box-sizing: border-box;
}

ion-grid ion-row {
  flex: 0 0 auto;
}

ion-grid ion-row:last-child {
  flex-grow: 1;
  max-height: calc(100% - 330px);

  ion-col {
    min-height: 100%;
    max-height: 100%;
  }
}

.partner-data-content {
  min-height: 208px;
}

.water-cut-history-content {
  min-height: 200px;
}