<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start">Detalle de un socio</ion-title>
    <ion-button *ngIf="false" class="ion-text-capitalize ion-margin-end" slot="end" expand="block" shape="round"
      fill="outline">
      <ion-icon class="ion-margin-end" slot="start" name="download-outline"></ion-icon>
      Reporte
    </ion-button>
    <ion-item slot="end">
      <ion-label class="ion-margin-end">Gestión:</ion-label>
      <input class="input-date" [disabled]="true" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="false" [startView]="startView"
        (yearSelected)="selectedOnlyYear($event)"></mat-datepicker>
    </ion-item>
  </ion-toolbar>
  <ion-grid class="has-margin-top--70" *ngIf="partner">
    <ion-row class="ion-margin-bottom">
      <ion-col sizeXs="12" sizeMd="6" sizeLg="4" class="ion-padding">
        <ion-card class="card-info__partner ion-padding">
          <ion-header class="ion-padding-bottom">
            <ion-toolbar>
              <ion-avatar slot="start" class="ion-margin-end">
                <ion-img src="assets/images/partner/avatar.svg"></ion-img>
              </ion-avatar>
              <ion-title>{{partner.name + ' ' + partner.last_name}}</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content class="partner-data-content">
            <ion-list>
              <ion-item>
                <ion-img slot="start" class="ion-margin-end" src="assets/images/partner/community.svg"></ion-img>
                <ion-label>{{partner.community.district + ' - ' +
                  partner.community.location}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-img slot="start" class="ion-margin-end" src="assets/images/partner/identity.svg"></ion-img>
                <ion-label>{{partner.identity_card.ci_number + ' - ' + partner.identity_card.issued + ' - ' +
                  (partner.identity_card.complement === '' ? 'N/A': partner.identity_card.complement)}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-img slot="start" class="ion-margin-end" src="assets/images/partner/sewerage.svg"></ion-img>
                <ion-label>{{partner.sewerage === true ? 'Tiene alcantarillado': 'No tiene alcantarillado'}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-img slot="start" class="ion-margin-end" src="assets/images/partner/couple.svg"></ion-img>
                <ion-label>{{partner.spouse === ''? 'No cuenta con pareja' : partner.spouse}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="8" class="ion-padding">
        <ion-card class="card-info__chart" color="tertiary">
          <ion-card-header class="ion-padding">
            <ion-card-title color="dark">{{title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-info__chart-container">
            <app-line-chart *ngIf="waterDataConsume"
              [multi]="waterDataConsume.waterConsumeByMonths | buildWaterConsumeDataShowChart:'Consumo de agua m3'"></app-line-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="4" class="ion-padding">
        <ion-card class="card-info__partner ion-padding">
          <ion-header class="ion-padding-bottom">
            <ion-toolbar>
              <ion-avatar slot="start" class="ion-margin-end">
                <ion-img src="assets/images/config/water-meter.svg"></ion-img>
              </ion-avatar>
              <ion-title>{{'Historial de cortes'}}</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content class="water-cut-history-content">
            <ng-container *ngIf="waterDataConsume  && waterDataConsume.historicalWaterCut.length > 0;else emptyData">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label color="primary" class="ion-text-center">
                        <strong>Fecha de<br> Corte</strong>
                      </ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item>
                      <ion-label color="primary" class="ion-text-center">
                        <strong>Fecha de<br> Reconexión</strong>
                      </ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item>
                      <ion-label color="primary" class="ion-text-center">
                        <strong>Motivo</strong>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="waterDataConsume.historicalWaterCut.length > 0">
                  <ion-col size="4">
                    <ion-item *ngFor="let waterCut of waterDataConsume.historicalWaterCut; index as i">
                      <ion-label color="dark" class="item-label-row">
                        {{ waterCut.water_cut_date| date }}
                      </ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item *ngFor="let waterCut of waterDataConsume.historicalWaterCut; index as i">
                      <ion-label [color]="waterCut.reconnection_date?'dark':'danger'" class="item-label-row">
                        {{ waterCut.reconnection_date?(waterCut.reconnection_date | date) :'Pendiente'}}
                      </ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item *ngFor="let waterCut of waterDataConsume.historicalWaterCut; index as i">
                      <section color="dark" class="water-meter-observations">
                        <ion-label class="water-meter-cut" *ngIf="waterCut.cut_non_payment">
                          {{statusWaterMeterEnum.DEBTOR}}
                        </ion-label>

                        <ion-label class="water-meter-broken" *ngIf="waterCut.meter_broken">
                          {{statusWaterMeterEnum.BROKEN}}
                        </ion-label>
                      </section>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>
          </ion-content>
        </ion-card>

        <ng-template #emptyData>
          <app-empty-data [showButton]="false" [showTitle]="false">
          </app-empty-data>
        </ng-template>
      </ion-col>

      <ion-col sizeXs="12" sizeMd="6" sizeLg="8" class="ion-padding ion-hide-sm-down">
        <app-payments-to-water-consume-list *ngIf="waterDataConsume"
          [waterConsumeData]="waterDataConsume.waterConsumeByMonths">
        </app-payments-to-water-consume-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>