<ion-header>
  <ion-toolbar class="ion-padding-horizontal" mode="md" color="dark">
    <ion-title slot="start">
      Subir Imagen del Comprobante
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <h3 *ngIf="images.length === 0" class="ion-padding ion-text-center">Por favor seleccione una imagen!</h3>
  <ion-grid fixed>
    <ion-row>
      <ion-col
        sizeXs="12"
        sizeMd="8" offsetMd="2">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
          <ion-slide class="ion-padding" *ngFor="let file of images; let i = index">
            <ion-card>
              <ion-card-content>
                <ion-img class="image-container" [src]="file.data"></ion-img>
                <ion-progress-bar *ngIf="isUpload" [value]="uploadPercent | async" color="secondary"></ion-progress-bar>
              </ion-card-content>
              <ion-footer class="ion-padding">
                <ion-button color="danger" class="ion-margin-bottom" (click)="deleteImage(file, true)" expand="block" fill="outline" shape="round">
                  <ion-icon class="ion-margin-end" slot="start" name="trash-outline"></ion-icon>
                  Eliminar Imagen
                </ion-button>
                <ion-button color="secondary" (click)="startUpload(file)" expand="block" shape="round">
                  <ion-icon color="light" slot="start" name="cloud-upload-outline"></ion-icon>
                  <ion-text class="ion-margin-start" color="light">Subir Imagen</ion-text>
                </ion-button>
                <!-- <ion-toolbar>
                  <ion-button
                    slot="start"
                    fill="ouline"
                    (click)="deleteImage(file)">
                    <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    slot="end"
                    fill="ouline"
                    (click)="startUpload(file)">
                    <ion-icon color="primary" slot="icon-only" name="cloud-upload-outline"></ion-icon>
                  </ion-button>
                </ion-toolbar> -->
              </ion-footer>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="images.length === 0" fill="clear" expand="full" color="primary" (click)="selectImage()">
      <ion-icon class="ion-margin-end" slot="start" name="cloud-upload"></ion-icon>
      Seleccionar Imagen
    </ion-button>
  </ion-toolbar>
</ion-footer>
