@import '../../../../assets/mixins/tipografia.scss';
@import '../../../../assets/mixins/media-breackpoints';

h3 {
  @include bodyTablet;
}

ion-card {
  width: 100%;
}

.image-container {
  width: 100%;
  height: 600px;
  border-radius: 30px;
  border: 1px solid #b2b2b235;
  overflow: hidden;

  @include medium {
    height: 300px;
    border: none;
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

.fab-btn__container {
  margin: auto;
}
