<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start">Registrar nuevos medidores</ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium">
  <ion-progress-bar type="indeterminate" buffer="0.5" reversed="true" color="primary" *ngIf="state">
  </ion-progress-bar>
  <form class="ion-padding" [formGroup]="measurerForm" (ngSubmit)="addMeasurer()">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12">
          <ion-text>
            <h2>Los datos con <ion-text color="danger">*</ion-text> son obligatorios</h2>
          </ion-text>
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Nro. de Medidor: <ion-text color="danger">*</ion-text>:</ion-label>
            <ion-input type="text" inputmode="text" formControlName="water_meter_number"
              (ionChange)="onInputChange($event)" required>
            </ion-input>
          </ion-item>
          <section class="ion-margin-bottom">
            <ion-label color="danger" *ngIf="existWaterMeterNumber">El numero de medidor
              ingresado ya se encuentra
              registrado</ion-label>
          </section>

          <ion-button class="ion-text-capitalize" type="submit" expand="block" shape="round"
            [disabled]="!measurerForm.valid || existWaterMeterNumber">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>