<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start" class="ion-margin-start"> Registrar corte del servicio </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content mode="md" color="medium" class="ion-padding">
  <ion-progress-bar *ngIf="state" type="indeterminate" value="0.42" buffer="0.5" reversed="true"
    color="primary"></ion-progress-bar>
  <form [formGroup]="waterCutForm" (ngSubmit)="registerWaterCut()">
    <section class="ion-text-center">
      <ion-text *ngIf="liableToCut">
        Esta registrando el corte del servicio para el socio:
      </ion-text>
      <ion-text *ngIf="!liableToCut">
        Reportar medidor averiado del socio:
      </ion-text>
    </section>
    <section class="ion-margin-vertical ion-text-center" *ngIf="partner">
      <ion-label>
        <strong> {{ (partner.last_name + ' ' + partner.name)| uppercase }} </strong>
      </ion-label>
    </section>
    <mat-divider></mat-divider>

    <section>
      <ion-item class="ion-margin-vertical">
        <ion-label position="stacked">Motivo</ion-label>
        <ion-textarea [readonly]="true" formControlName="reason">
        </ion-textarea>
      </ion-item>

      <ion-item class="ion-margin-vertical" [ngClass]="{'not-clickable': !liableToCut}">
        <ion-label>El medidor esta averiado</ion-label>
        <ion-select interface="popover" class="custom-popover" formControlName="meter_broken">
          <ion-select-option [value]="true">Si</ion-select-option>
          <ion-select-option [value]="false">No</ion-select-option>
        </ion-select>
      </ion-item>
    </section>

    <section>
      <ion-button type="submit" [disabled]="waterCutForm.invalid" class="ion-margin" color="primary" expand="block"
        shape="round">Registrar</ion-button>
    </section>
  </form>
</ion-content>