<ion-grid class="has-height--100 has-overflow--hidden">
  <ion-row>
    <ion-col class="ion-hide-xl-down" sizeXl="2">
      <ion-item>
        <ion-label>
          <strong>Fecha de registro</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-hide-md-down" sizeMd="3" sizeXl="2">
      <ion-item>
        <ion-label>
          <strong>Categoría</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="4" sizeMd="3" sizeXl="4">
      <ion-item>
        <ion-label>
          <strong>Detalle</strong>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="income-list-amount">
      <ion-item class="ion-text-center">
        <ion-label class="wrap-text">
          <strong>Monto $us.</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="income-list-amount">
      <ion-item class="ion-text-center">
        <ion-label class="wrap-text">
          <strong>Monto Bs.</strong>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="2" sizeMd="1" class="ion-hide-md-down">
      <ion-item class="ion-justify-content-center">
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="incomes-data-table">
    <ion-col class="ion-hide-xl-down" sizeXl="2">
      <ion-item *ngFor="let income of incomes; index as i">
        <ion-label>
          {{income.date?(income.date | date):''}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="ion-hide-md-down" sizeMd="3" sizeXl="2">
      <ion-item *ngFor="let income of incomes; index as i">
        <ion-label color="primary">
          {{income.category.name}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col sizeXs="4" sizeMd="3" sizeXl="4">
      <ion-item *ngFor="let income of incomes; index as i">
        <ion-label>
          {{income.detail}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="income-list-amount">
      <ion-item *ngFor="let income of incomes; index as i" class="ion-text-center">
        <ion-label>
          {{income.coin.includes(constanstEnum.DOLLAR_COIN)? (income.amount | currency: ' '): (0 | currency: ' ')}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="income-list-amount">
      <ion-item *ngFor="let income of incomes; index as i" class="ion-text-center">
        <ion-label>
          {{income.coin.includes(constanstEnum.BS_COIN)? (income.amount | currency: ' ') : (0 | currency: ' ')}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col sizeXs="2" sizeMd="1" class="ion-hide-md-down">
      <ion-item *ngFor="let income of incomes; index as i">
        <ion-button *ngIf="false" expand="block" slot="end" fill="clear" color="primary">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-hide-xl-down" sizeXl="2">

    </ion-col>

    <ion-col class="ion-hide-md-down" sizeMd="3" sizeXl="2">

    </ion-col>

    <ion-col sizeXs="4" sizeMd="3" sizeXl="4">
      <ion-item class="ion-text-center">
        <ion-label color="danger">TOTAL</ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="income-list-amount">
      <ion-item class="ion-text-center">
        <ion-label color="success">{{totalAmountIncomes?.totalAmountDollarCoin | currency: '$us'}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col class="income-list-amount">
      <ion-item class="ion-text-center">
        <ion-label color="success">{{totalAmountIncomes?.totalAmountBolCoin | currency: 'Bs'}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col sizeXs="2" sizeMd="1" class="ion-hide-md-down">

    </ion-col>
  </ion-row>
</ion-grid>