.card-assistant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .card-message {
    width: 80%;
    border-radius: 12px;
    border: 2px solid #0284C9;
    background-color: #E9F6FE;
  }

  figure {
    margin: 0px;
    width: 60%;
  }
}

.col-assistant {
  display: flex;
  align-items: center;
}
