<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start">Configuración de precios unitarios del sistema</ion-title>
  </ion-toolbar>

  <ion-grid class="ion-padding has-margin-top--70" *ngIf="price">
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" class="ion-padding-end">
        <app-config-input
          [image]="'assets/images/config/partner-action.svg'"
          [currency]="'$us. '"
          [value]="actionPrice.value"
          [formControlPrice]="actionPrice"
          (valueEventEmitter)="updatePriceProperty($event, 'action_price')"
          (updateDataPricesEventEmitter)="updateDataPrices($event)"
        ></app-config-input>
        
        <app-config-input
          [image]="'assets/images/config/water-meter.svg'"
          [title]="'Medidor'"
          [value]="waterMeterPrice.value"
          [formControlPrice]="waterMeterPrice"
          (valueEventEmitter)="updatePriceProperty($event, 'water_meter_price')"
          (updateDataPricesEventEmitter)="updateDataPrices($event)"
          *ngIf="false"
        ></app-config-input>

        <app-config-input
          [image]="'assets/images/config/water.svg'"
          [title]="'Agua'"
          [multiple]="true"
          [firstValue]="firstWaterPrice.value"
          [firstRangeControlPrice]="firstWaterPrice"
          [secondRangeControlPrice]="secondWaterPrice"
          [thirdRangeControlPrice]="thirdWaterPrice"
          [minimalControlPrice]="minimalPrice"
          [secondValue]="secondWaterPrice.value"
          [thirdValue]="thirdWaterPrice.value"
          [firstRange]="price.first_range"
          [secondRange]="price.second_range"
          [minimal]="minimalPrice.value"
          [hasMargin]="false"
          (firstPriceEventEmitter)="updatePriceProperty($event, 'first_water_price')"
          (secondPriceEventEmitter)="updatePriceProperty($event, 'second_water_price')"
          (thirdPriceEventEmitter)="updatePriceProperty($event, 'third_water_price')"
          (minimalPriceEventEmitter)="updatePriceProperty($event, 'minimal_price')"
          (updateDataPricesEventEmitter)="updateDataPrices($event)"
        ></app-config-input>
      </ion-col>
      
      <ion-col sizeXs="12" sizeMd="6" class="ion-padding-end">
        <app-config-input
          [image]="'assets/images/config/debts.svg'"
          [title]="'Multa por pago atrasado'"
          [value]="debtsPrice.value"
          [formControlPrice]="debtsPrice"
          (valueEventEmitter)="updatePriceProperty($event, 'debts')"
          (updateDataPricesEventEmitter)="updateDataPrices($event)"
        ></app-config-input>

        <app-config-input
          [image]="'assets/images/config/sewerage.png'"
          [title]="'Alcantarillado'"
          [value]="seweragePrice.value"
          [formControlPrice]="seweragePrice"
          (valueEventEmitter)="updatePriceProperty($event, 'sewerage_price')"
          (updateDataPricesEventEmitter)="updateDataPrices($event)"
        ></app-config-input>
        <section class="card-assistant">
          <ion-card class="card-message ion-padding ion-margin-bottom">
            <ion-label>En esta sección puedes editar la información del precio de venta de cada
              <ion-text color="primary"> <strong>acción, medidor</strong> </ion-text> y tambien el precio en
              <ion-text color="primary"> <strong>centimetros cúbicos del agua</strong> </ion-text></ion-label>
          </ion-card>
          <figure>
            <img src="assets/images/config/assistant.svg" alt="asistente">
          </figure>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
