@import '../../../../../../../assets/mixins/tipografia.scss';
@import '../../../../../../../assets/scss/angular-material';
@import '../../../../../../../assets/scss/ionic-componets';
@import '../../../../../../../assets/mixins/media-breackpoints';


ion-toolbar {
  padding-left: 16px;
  padding-right: 16px;
}

h2 {
  @include bodyMobile;
}

@include input-ionic;

.check-passage {
  width: 30%;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 16px;
  border-top: 1px solid;
}

ion-toggle {
  margin: 0 8px;
}

.coin-selected-container {
  display: flex;
  align-items: center;
}

.ion-datepicker-incomes-modal {
  width: 100vw;
  position: absolute;

  @include medium {
    width: 40%;
    margin: 0 auto;
  }

  @include large {
    width: 20vw;
    margin: 0 auto;
  }
}