<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-title slot="start"> {{incomeOption.name}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="medium" class="ion-padding">
  <form [formGroup]="incomesForm" (ngSubmit)="registerIncomes()">
    <section class="ion-margin-bottom">
      <ion-text class="ion-paddin">
        Esta registrando un ingreso para el Sistema de Agua Potable.
      </ion-text>
    </section>

    <ion-item class="ion-margin-bottom" *ngIf="incomeOption.type === incometype.DEBT">
      <mat-form-field>
        <mat-label>Nombre asignado al socio:</mat-label>
        <mat-select name="partnerWithFine" (selectionChange)="onSelect( $event )">
          <mat-option *ngFor="let partnerWithFine of listOfPartnersWithFines" [value]="partnerWithFine.id">{{
            partnerWithFine.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ion-item>

    <ion-item class="ion-margin-bottom auto-width" *ngIf="incomeOption.type === incometype.DEBT">
      <mat-form-field>
        <mat-label>Asunto o descripción de la Multa:</mat-label>
        <mat-select name="partnerFine" (selectionChange)="fineSelect( $event )" formControlName="fine_id">
          <mat-option *ngFor="let partnerFine of partnerFinesList" [value]="partnerFine.id"> {{ partnerFine.detail }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-item>


    <ion-item class="ion-align-items-center ion-margin-bottom">
      <ion-label position="floating">Monto:</ion-label>
      <ion-input type="number" formControlName="amount" [attr.disabled]="incomeOption.type === incometype.DEBT">
      </ion-input>
      <article class="coin-selected-container" slot="end" *ngIf="incomeOption.type === incometype.OTHER">
        <ion-text>$us</ion-text>
        <ion-toggle mode="ios" (ionChange)="coinChange($event)" checked slot="end" checked></ion-toggle>
        <ion-text>Bs</ion-text>
      </article>
    </ion-item>

    <ion-item class="ion-margin-bottom" *ngIf="incomeOption.type === incometype.OTHER">
      <ion-label position="floating">Detalle del Ingreso: <ion-text color="danger"></ion-text></ion-label>
      <ion-textarea type="text" formControlName="detail"></ion-textarea>
    </ion-item>

    <ion-item id="open-modal-incomes-register" class="ion-margin-bottom">
      <ion-label *ngIf="!incomesForm.controls.date.value">Fecha de pago:</ion-label>
      <ion-label *ngIf="incomesForm.controls.date.value" position="floating">Fecha de Afiliación:</ion-label>
      <ion-input [value]="incomesForm.controls.date.value | date"></ion-input>
      <ion-icon class="ion-no-margin-s" slot="end" color="primary" name="calendar-outline"></ion-icon>
    </ion-item>

    <ion-modal trigger="open-modal-incomes-register" [cssClass]="'bottom-end'" class="ion-datepicker-incomes-modal">
      <ng-template>
        <article>
          <ion-datetime color="primary" value="date" presentation="date" [preferWheel]="true" size="cover"
            [showDefaultButtons]="true" [max]="today" doneText="Confirmar" cancelText="Cancelar"
            formControlName="date"></ion-datetime>
        </article>
      </ng-template>
    </ion-modal>

    <ion-button type="submit" [disabled]="incomesForm.invalid" class="ion-margin-horizontal" color="primary"
      expand="block" shape="round">Registrar</ion-button>

  </form>
</ion-content>