<ion-card class="ion-paddin card-container"
  (click)="registerExpense(expenseCategory)"
>
    <ion-card-content>
    <figure class="image-content" [ngSwitch]="expenseCategory.order">
      <ion-img  *ngSwitchCase="1" src="/assets/images/expenses/LUZ.png"></ion-img>
      <ion-img  *ngSwitchCase="2" src="/assets/images/expenses/MANTENIMIENTO.png"></ion-img>
      <ion-img  *ngSwitchCase="3" src="/assets/images/expenses/DIFUNTO.png"></ion-img>
      <ion-img  *ngSwitchCase="4" src="/assets/images/incomes/other.png"></ion-img>
      <ion-img  *ngSwitchDefault="" src="/assets/images/incomes/other.png"></ion-img>
    </figure>
    <ion-card-title class="ion-padding-top">{{expenseCategory.description}}</ion-card-title>
    <!-- <ion-card-subtitle>Awesome Title</ion-card-subtitle> -->
  </ion-card-content>
</ion-card>
