@import '../../../../../../../assets/mixins/media-breackpoints';

.image-content {
  // border-bottom: 1px solid #000;
  width: 80%;
  max-width: 300px;
  margin: auto;
  max-height: 280px;
  display: flex;
  align-items: flex-end;
}

.image-content ion-img {
  width: 100%;
}

ion-card-title {
  border-top: 1px solid #000;
  font-weight: bold;
}

.card-container {
  cursor: pointer;
  min-height: 200px;
  max-height: 300px;
  border-radius: 8px;
  // box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include medium {
    min-height: 300px;
  }
}

.card-container:hover {
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  border: 2px solid #0284C9;
  background-color: #E9F6FE;
}