.image-content {
  // border-bottom: 1px solid #000;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.image-content ion-img {
  width: 100%;
}

ion-card-title {
  border-top: 1px solid #000;
  font-weight: bold;
}

.card-container {
  cursor: pointer;
  border-radius: 8px;
  // box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container:hover {
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
}
