<ion-card class="ion-padding card-container" (click)="registerIncomes()">
  <ion-card-header>
    <figure class="image-content ion-margin-bottom">
      <ion-img [src]="incomeCategory.image"></ion-img>
    </figure>
    <ion-card-title class="ion-padding-top">{{incomeCategory.name}}</ion-card-title>
    <ion-card-subtitle>{{incomeCategory.description}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
