@import '../../assets/mixins/media-breackpoints';
@import '../../assets/mixins/tipografia.scss';

.main-container {
  --background: linear-gradient(180deg, #3FC2CA 39.54%, #378F9F 66.68%, rgba(52, 88, 115, 0.9) 100%);

  .main-logo__container {
    display: flex;
    justify-content: space-around;
    .logo-container {
      width: 60px;
      @include medium {
        width: 100px;
      }
    }
  }

  .line-divide__container {
    margin: 0px;
  }

  .title {
    color: #ffffff !important;
    @include pageMobile;

    @include medium {
      @include pageTablet
    }

    @include large {
      @include mainDesk;
    }
  }
  .subtitle {
    color: #ffffff !important;
    @include bodyMobile;

    @include medium {
      @include bodyTablet
    }

    @include large {
      @include bodyDesk;
    }
  }
}
