<ion-content class="main-container">
  <ion-grid>
    <ion-row>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        sizeXl="4" offsetXl="4"
        class="ion-text-center">
        <figure class="main-logo__container">
          <ion-img class="logo-container" src="/assets/images/404/cloud.png" alt="Imagen de nube"></ion-img>
          <ion-img class="logo-container" src="/assets/images/login/logo.png" alt="Imagen del logo"></ion-img>
          <ion-img class="logo-container" src="/assets/images/404/cloud.png" alt="Imagen de nube"></ion-img>
        </figure>
      </ion-col>
      <ion-col size="12" style="max-height: 133px;">
        <figure class="line-divide__container">
          <ion-img src="/assets/images/404/line-divider.png" alt="Imagen del paisaje"></ion-img>
        </figure>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        sizeXl="4" offsetXl="4"
        class="ion-text-center">
        <figure>
          <ion-img src="/assets/images/404/not-found.png" alt="Image 404 not found"></ion-img>
        </figure>
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="6" offsetMd="3"
        class="ion-text-center">
        <h1 class="title">!Ooops....!</h1>
        <h2 class="subtitle">
          La página que buscas no se encuentra disponible.
        </h2>
        <ion-button
          class="ion-text-capitalize"
          [routerLink]="['/']"
          color="primary"
          size="large"
          shape="round">
          Volver al inicio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
