@import '../../../../../assets/mixins/tipografia.scss';
@import '../../../../../assets/mixins/media-breackpoints';
@import '../../../../../assets/scss/ionic-componets';
.container {
  width: 100%;

  &-form {
    width: 100%;
    &__title {
      @include paragraphMobile;
      text-align: center;
    }
    @include input-ionic;

    @include medium {
      .name-input {
        margin-right: 16px;
      }
      .lastname-input {
        margin-left: 16px;
      }
      .complement-input {
        margin: auto 16px;
      }
    }
  }

  @include large {
    &-form {
      width: 50%;
      margin: auto;
    }
  }
}
