<div class="container">
  <form class="container-form" [formGroup]="firstForm" (ngSubmit)="saveFirstData()">
    <p class="ion-margin-bottom container-form__title">Estas a solo 2 pasos para agregar un nuevo socio a la comunidad</p>
    <p  color="dark">Los campos con (*) son obligatorios</p>
    <div class="ion-margin-bottom">
      <mat-divider></mat-divider>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="6">
          <ion-item class="name-input">
            <ion-label position="floating">Nombre (s)*:</ion-label>
            <ion-input
              formControlName="name"
              required="true"
              type="text"
              [maxlength]="256"
              [value]="firstForm.controls.name.value | titlecase"></ion-input>
          </ion-item>

          <div *ngIf="partnerName.invalid && (partnerName.dirty || partnerName.touched)">
            <ion-text *ngIf="partnerName.errors.pattern" color="danger">En este campo no se permiten números</ion-text>
            <ion-text *ngIf="partnerName.errors.minlength && !partnerName.errors.pattern" color="danger">La cantidad mínima de caracteres es 2</ion-text>
            <ion-text *ngIf="partnerName.errors.maxlength && !partnerName.errors.pattern " color="danger">La cantidad máxima de caracteres es 255</ion-text>
          </div>

        </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="6">
          <ion-item class="lastname-input">
            <ion-label position="floating">Apellidos *:</ion-label>
            <ion-input
              formControlName="last_name"
              required="true"
              type="text"
              [maxlength]="256"
              [value]="firstForm.controls.last_name.value | titlecase"></ion-input>
          </ion-item>

          <div *ngIf="partnerLastName.invalid && (partnerLastName.dirty || partnerLastName.touched)">
            <ion-text *ngIf="partnerLastName.errors.pattern" color="danger">En este campo no se permiten números</ion-text>
            <ion-text *ngIf="partnerLastName.errors.minlength && !partnerLastName.errors.pattern" color="danger">La cantidad mínima de caracteres es 2</ion-text>
            <ion-text *ngIf="partnerLastName.errors.maxlength && !partnerLastName.errors.pattern" color="danger">La cantidad máxima de caracteres es 255</ion-text>
          </div>

        </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="4"
          >
          <ion-item>
            <ion-label position="floating">C.I *:</ion-label>
            <ion-input
              type="text"
              formControlName="ci_number"
              required="true"
              [maxlength]="14"
              [minlength]="6"
              ></ion-input>
          </ion-item>

          <div *ngIf="partnerIdentityNumber.invalid && (partnerIdentityNumber.dirty || partnerIdentityNumber.touched)">
            <ion-text *ngIf="partnerIdentityNumber.errors.pattern" color="danger">Este campo sólo admite caracteres numéricos</ion-text>
            <ion-text *ngIf="partnerIdentityNumber.errors.minlength && !partnerIdentityNumber.errors.pattern " color="danger">La cantidad mínima de dígitos es 6</ion-text>
            <ion-text *ngIf="partnerIdentityNumber.errors.maxlength && !partnerIdentityNumber.errors.pattern" color="danger">La cantidad máxima de dígitos es 13</ion-text>

          </div>

        </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="4"
          >
          <ion-item class="complement-input">
            <ion-label position="floating">Complemento :</ion-label>
            <ion-input
              formControlName="complement"
              [value]="firstForm.controls.complement.value | uppercase"
              type="text"
              [maxlength]="3"
              ></ion-input>
          </ion-item>

          <div *ngIf="partnerIdNumComplement.invalid && (partnerIdNumComplement.dirty || partnerIdNumComplement.touched)">
            <ion-text *ngIf="partnerIdNumComplement.errors.pattern" color="danger">Por favor, ingrese los datos correctos</ion-text>
            <ion-text *ngIf="(partnerIdNumComplement.errors.minlength || partnerIdNumComplement.errors.maxlength) && !partnerIdNumComplement.errors.pattern" color="danger">La cantidad mínima y maxima de caracteres es 2</ion-text>
          </div>

        </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="4"
          >
          <ion-item>
            <ion-label position="floating">Exp. *:</ion-label>
            <ion-select formControlName="issued" value="CB" placeholder="Seleccione el departamento">
              <ion-select-option value="CB">Cochabamba</ion-select-option>
              <ion-select-option value="LP">La Paz</ion-select-option>
              <ion-select-option value="SC">Santa Cruz</ion-select-option>
              <ion-select-option value="OR">Oruro</ion-select-option>
              <ion-select-option value="PT">Potosi</ion-select-option>
              <ion-select-option value="TJ">Tarija</ion-select-option>
              <ion-select-option value="CH">Chuquisaca</ion-select-option>
              <ion-select-option value="BE">Beni</ion-select-option>
              <ion-select-option value="PD">Pando</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          >
          <ion-item>
            <ion-label position="floating">Nro Celular *:</ion-label>
            <ion-input
              id="cell"
              formControlName="first_phone"
              required="true"
              type="tel"
              [minlength]="8"
              [maxlength]="8"
              ></ion-input>
          </ion-item>

          <div *ngIf="partnerFirstPhone.invalid && (partnerFirstPhone.dirty || partnerFirstPhone.touched)">
            <!-- <ion-text *ngIf="partnerFirstPhone.errors.pattern" color="danger">Por favor, ingrese un número de celular válido</ion-text> -->
            <ion-text *ngIf="partnerFirstPhone.errors.minLength" color="danger">Este campo sólo admite 8 caracteres</ion-text>
          </div>

        </ion-col>
        <ion-col class="ion-margin-bottom"
        sizeXs="12"
        >
        <ion-item>
          <ion-label position="floating">Genero. *:</ion-label>
          <ion-select formControlName="gender" value="M" placeholder="Seleccione el genero">
            <ion-select-option value="M">Masculino</ion-select-option>
            <ion-select-option value="F">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
        <ion-col class="ion-margin-bottom"
          sizeXs="12"
          sizeMd="6" offsetMd="3"
          sizeLg="12" offsetLg="0">
          <ion-button
            type="submit"
            expand="block"
            color="primary"
            shape="round"
            [disabled]="!firstForm.valid">
            Continuar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
<!-- 
<swal
  #warningSwal
  title="¡Oops...!"
  text="El carnet que quieres asignar a este nuevo socio ya existe y pertenece a otro socio en nustra base de datos"
  [icon]="'warning'"
  [showConfirmButton]="true"
  [backdrop]="false"
  [timer]="2000"
  >
</swal>


<swal
  #errorSwal
  title="¡Oops...!"
  [icon]="errorMessage.status === 400? 'warning':'error'"
  [iconColor]="errorMessage.status === 400? '#79BBD9': '#F94144'"
  [showConfirmButton]="true"
  [backdrop]="false"
> -->
  <!-- <div *swalPortal="swalTargets.content">
    <p *ngIf="errorMessage.status !== 400">Problemas con el servidor, contactese con administración</p>
    <div *ngIf="errorMessage.status === 400">
      <ul>
        <li>
          <ion-label>{{errorMessage.error.message | titlecase}}</ion-label>
        </li>
      </ul>
    </div>
  </div>
</swal> -->
