@import '../../../../../../../assets/mixins/media-breackpoints';

:host ngx-scanner-qrcode::ng-deep video {
  height: 60vh;
  width: 96%;
  object-fit: cover;
  border-style: solid;
  border-color: #0c3342;
  margin: 2%;
  box-sizing: border-box;
}

.reader {
  width: 100%;

  &-title {
    max-width: 290px;
    margin: auto;
  }

  &-image {
    text-align: center;
  }

  &-btn-start {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 80px);
    z-index: 1;

    @include medium {
      bottom: 30%;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background: url(../../../../../../../assets/images/reader/bg-footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include medium {
      height: 500px;
    }
  }

  &-container {
    height: 100%;
    background: url(../../../../../../../assets/images/reader/bg-container.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      @include medium {
        margin-bottom: 0px;
      }
    }

    &__select {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .is-input--select {
        flex: 1 1 auto;
      }

      @include medium {}
    }

    &__dashboard {
      display: flex;
      gap: 16px;
      justify-content: space-between;
    }

    &__partner {
      background-color: #FFFFFF50;
      border-radius: 8px;

    }
  }

  &-result {
    background: #DAF0FE;
    height: 250px;
    border-radius: 50%;

    &-info {
      gap: 10px;
      flex-wrap: nowrap;
      background-color: #ffffff70;
      border-radius: 8px;
    }

    &-img {
      width: 100%;
      max-width: 600px;
      margin: auto;
    }
  }
}

.card-consumer {
  background-color: #ffffff;
  background-image: url(../../../../../../../assets/images/reader/bg-consumer.png);
  background-repeat: no-repeat;
  background-position: bottom;

  .title {
    font-size: 18px;
    text-align: center;
  }

  &__content {
    padding: 15px 0;
    text-align: center;
  }
}

.actual-consumer {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 15px solid #0284C970;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

/* waves */
.ocean {
  height: 100%;
  /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 200%;
  height: 100%;
  animation: wave 5s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 13s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 15s -1s linear infinite;
  opacity: 0.5;
}


ion-badge {
  padding: 5px 8px;
}

mat-cell {
  width: 100%;
}


.mat-column-sewerage,
.mat-column-total {
  max-width: 100px;
}

.mat-column-action {
  max-width: 50px;
}

.water-consumed-data-container {
  height: 100%;
  background: url('/bg-container.png');
}

.warning-message-reader {
  background-color: #eedede;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}

.table-container-consume {
  background-color: var(--ion-color-medium);
  padding: 10px;
  box-sizing: border-box;
}

.data-read-container {
  article {
    margin-bottom: 5px;
  }
}

.water-consumed-pay-report {
  border: 1px solid var(--ion-color-primary);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  ion-row {
    gap: 5px 0;
  }

  &__title {
    margin-bottom: 20px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border: 1px solid var(--ion-color-dark);
  border-radius: 10px;
  margin-top: 15px;
}

.table-header {
  display: flex;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--ion-color-dark);
}

.table-row {
  display: flex;
  width: 100%;
  padding: 5px;
}


.table-content-pdf {
  .table-row {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;

    .table-data:first-child {
      width: 80%;
    }

    .table-data:last-child {
      width: 30%;
      text-align: center;
    }
  }
}

.spinner-custom {
  backdrop-filter: blur(4px);
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--ion-color-light);
    gap: 5px;
    font-size: 20px;

    ion-text {
      font-weight: bold;
    }
  }
}