<article [ngClass]="{'water-consumed-data-container':isReaderView}">
  <ion-toolbar mode="md" color="dark" *ngIf="isReaderView">
    <ion-title slot="start" class="ion-margin-start"> Registrar nueva lectura </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar [color]="isViewSmall ? 'dark' : 'medium'" *ngIf="partnerSelected && partnerSelected.id">
    <ion-title slot="start">Socio:
      <ion-text color="primary">{{ partnerSelected.last_name + ' ' + partnerSelected.name }}</ion-text></ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()" *ngIf="isViewSmall">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <section *ngIf="!(partnerSelected && partnerSelected.id)">
    <article class="ion-padding ion-text-center">
      <ion-text color="primary" class="">
        <h5 class="ion-no-margin">
          Enfoque el código QR de un socio para la lecturacion de
        </h5>
      </ion-text>

      <ion-text color="dark" class="ion-text-center">
        <h4>
          <strong>
            {{today | date:'MMMM-yyyy' | titlecase}}
          </strong>
        </h4>
      </ion-text>

    </article>
    <!-- <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner> -->
    <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
  </section>

  <section class="ion-text-center ion-margin-vertical"
    *ngIf="partnerSelected && partnerSelected.id && allWaterConsumeByPartner && !partnerSelected?.waterCut && !partnerSelected?.waterCut?.active">
    <ion-button expand="" color="primary" shape="round" (click)="registerWaterCut()">
      <ion-icon class="ion-margin-end" slot="start" name="water-outline"
        *ngIf="allWaterConsumeByPartner.length >= 3"></ion-icon>
      <ion-icon class="ion-margin-end" slot="start" name="construct-outline"
        *ngIf="allWaterConsumeByPartner.length < 3"></ion-icon>
      {{ allWaterConsumeByPartner.length >= 3?'Cortar Servicio':'Medidor Averiado' }}
    </ion-button>
  </section>

  <ion-grid *ngIf="partnerSelected && partnerSelected.id && isReaderView" class="has-height--100">
    <ion-row class="reader-result-info ion-padding">
      <ion-col sizeXs="4" sizeMd="4">
        <ion-card class="ion-padding has-border-radius--8 card-consumer">
          <ion-card-title color="dark" class="title">Lectura Anterior</ion-card-title>
          <ion-card-content class="card-consumer__content">
            <ion-label color="primary">
              <strong> {{(lastWaterConsume? lastWaterConsume.readering_actual : 0) | currency: ' '}}
                <strong>m<sup>3</sup>
                </strong>
              </strong>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="4" sizeMd="4">
        <ion-card class="ion-padding has-border-radius--8 card-consumer">
          <ion-card-title color="dark" class="title">Consumo Anterior</ion-card-title>
          <ion-card-content class="card-consumer__content">
            <ion-label color="primary">
              <strong> {{(lastWaterConsume? lastWaterConsume.amount : 0) | currency: ' Bs. '}} </strong>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="4" sizeMd="4">
        <ion-card class="ion-padding has-border-radius--8 card-consumer">
          <ion-card-title color="dark" class="title">Tiene deudas</ion-card-title>
          <ion-card-content class="card-consumer__content">
            <ion-label color="primary">
              <strong> {{(allWaterConsumeByPartner? allWaterConsumeByPartner.length: 0) + ' Mes (ses)'}} </strong>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-img style="width: 60px; margin: auto" [src]="'assets/images/reader/result-icon.svg'"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <section class="actual-consumer">
          <section class="ion-text-center">
            <article class="ion-margin-bottom">
              <ion-label class="ion-margin-bottom" color="primary">Consumo de agua anterior</ion-label>
            </article>
            <ion-label class="ion-margin-bottom" color="primary"><strong>{{(lastWaterConsume?
                lastWaterConsume.water_consume : 0) | currency: ' '}} <strong>m<sup>3</sup>
                </strong></strong></ion-label>
            <!-- <ion-label color="primary">{{85 | currency: 'm3.'}}</ion-label> -->
          </section>
          <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
          </div>
        </section>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col size="6" offset="3"
        *ngIf="waterConsumedList?.length === 0 && !partnerSelected?.waterCut && !partnerSelected?.waterCut?.active">
        <ion-button [disabled]="waterConsumedList?.length > 0" expand="block" color="primary" shape="round"
          (click)="addNewPayment()">
          <ion-icon class="ion-margin-end" slot="start" name="cash-outline"></ion-icon>
          Agregar Lectura
        </ion-button>
      </ion-col>
      <article class="warning-message-reader" *ngIf="waterConsumedList?.length > 0">
        <ion-text color="danger">Este socio ya cuenta con la lectura del mes de {{
          (waterConsumedList[0].dateToRead).toString() | date: 'MMMM' | titlecase }}</ion-text>
      </article>

      <article class="warning-message-reader" *ngIf="partnerSelected?.waterCut && partnerSelected?.waterCut?.active">
        <ion-text color="danger">
          El medidor del socio se encuentra
          {{
          partnerSelected.waterCut.meter_broken?
          'averiado asigne un nuevo medidor para la lecturación' :
          'en corte, el socio debe cancelar sus deudas para la reconexión'
          }}
        </ion-text>
      </article>
    </ion-row>
  </ion-grid>

  <div id="contentToConvert" style="color: black; width: 140mm; height: 70mm; padding: 10px;"
    *ngIf="newCurrentMonthWaterConsume && isModalOpen">
    <div class="water-consumed-pay-report" style="width: 100%; height: 100%;">
      <section class="ion-text-center water-consumed-pay-report__title">
        <article>
          <ion-text color="primary" class="ion-margin-end has-font--700">Servicio de Agua Potable "San
            Pablo"</ion-text>
        </article>
        <article>
          <ion-text>Aviso de Cobranza</ion-text>
        </article>
      </section>

      <ion-grid style="font-size: 12px; display: flex; align-items: center;">
        <ion-row style="display: flex; justify-content: space-between; width: 100%;">

          <ion-col size="5.9" style="border-right: 1px solid var(--ion-color-primary);">

            <ion-row>
              <ion-col size="auto" class="data-read-container">
                <article>
                  <ion-text color="dark" class="ion-margin-end has-font--700">Consumo de agua(m3):</ion-text>
                </article>

                <article>
                  <ion-text color="dark" class="ion-margin-end has-font--700">Mes de consumo:</ion-text>
                </article>

                <article>
                  <ion-text color="dark" class="ion-margin-end has-font--700">Lectura anterior:</ion-text>
                </article>

                <article>
                  <ion-text color="dark" class="ion-margin-end has-font--700">Lectura actual:</ion-text>
                </article>

                <article>
                  <ion-text color="dark" class="ion-margin-end has-font--700">Fecha de lecturación</ion-text>
                </article>

              </ion-col>

              <ion-col size="auto" class="data-read-container">
                <article>
                  <ion-text>{{newCurrentMonthWaterConsume.water_consume}}</ion-text>
                </article>

                <article>
                  <ion-text>
                    {{(newCurrentMonthWaterConsume.dateToRead).toString() | date:'MMM-yyyy' | titlecase}}
                  </ion-text>
                </article>

                <article>
                  <ion-text>{{newCurrentMonthWaterConsume.readering_last}}</ion-text>
                </article>

                <article>
                  <ion-text>{{newCurrentMonthWaterConsume.readering_actual}}</ion-text>
                </article>

                <article>
                  <ion-text>{{today | date:'MMM-d-yyyy' | titlecase}}</ion-text>
                </article>
              </ion-col>
            </ion-row>

            <ion-row>
              <article>
                <ion-text color="dark" class="ion-margin-end has-font--700">Meses Adeudados:</ion-text>

                <article *ngIf="allWaterConsumeByPartner.length > 0">
                  <ion-text *ngFor="let waterConsumeDebts of allWaterConsumeByPartner">
                    <strong>{{(waterConsumeDebts?.dateToRead | date:'MMM-yyyy' | titlecase) + ' | '}}</strong>
                  </ion-text>
                </article>

                <article *ngIf="allWaterConsumeByPartner.length === 0">
                  <strong>No Aplica</strong>
                </article>
              </article>
            </ion-row>
          </ion-col>

          <ion-col size="6">
            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Socio:</ion-text>
              <ion-text>{{partnerSelected?.name + ' ' + partnerSelected?.last_name}}</ion-text>
            </article>

            <article>
              <ion-text color="dark" class="ion-margin-end has-font--700">Comunidad:</ion-text>
              <ion-text>{{partnerSelected.community.location}}</ion-text>
            </article>

            <div class="container">
              <div class="table">
                <div class="table-content-pdf">
                  <div class="table-row">
                    <div class="table-data" color="dark">Monto por consumo</div>
                    <div class="table-data">{{newCurrentMonthWaterConsume.amount}}</div>
                  </div>
                  <div class="table-row">
                    <div class="table-data" color="dark">Alcantarillado</div>
                    <div class="table-data">{{newCurrentMonthWaterConsume.sewerage}}</div>
                  </div>
                  <div class="table-row">
                    <div class="table-data">
                      <ion-text color="dark">Total:</ion-text>

                    </div>
                    <div class="table-data">
                      <ion-text color="danger">
                        <strong>{{(newCurrentMonthWaterConsume.amount + newCurrentMonthWaterConsume.sewerage) |
                          currency:
                          'Bs.'}}</strong></ion-text>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <section *ngIf="showLoading" class="loading-spinner spinner-custom">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <div>
      <ion-text>
        Generando Aviso de cobranza
      </ion-text>
      <ion-text>
        Por favor espere...
      </ion-text>
    </div>
  </section>
</article>


<article class="has-height--100 " [ngClass]="{'table-container-consume': isViewSmall}" *ngIf="!isReaderView">
  <section class="ion-margin-bottom ion-text-center" *ngIf="isViewSmall">
    <ion-text color="dark">
      Lista de deudas por consumo de agua del Socio: <br><strong>
        {{ partnerSelected?.name + ' ' + partnerSelected?.last_name || 'No se selecciono un socio' }}
      </strong>
    </ion-text>
  </section>

  <section class="has-height--100">
    <mat-table *ngIf="waterConsumedList && !isReaderView" [dataSource]="waterConsumedList">
      <ng-container matColumnDef="date">
        <mat-header-cell class="ion-padding" *matHeaderCellDef>
          <strong>Fechas</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-padding" *matCellDef="let element">
          <section class="has-display--flex ion-align-items-center has-display--flex--column">
            <ion-label>Lectura: <br>
              <ion-text color="primary" class="ion-text-nowrap">{{element.dateToRead | date}}</ion-text> <br>
            </ion-label>
            <ion-label *ngIf="element.isPay">Pago: <br>
              <ion-text color="success" class="ion-text-nowrap">{{element.dateToPay | date}}</ion-text>
            </ion-label>
          </section>
        </mat-cell>
      </ng-container>

      <!-- <ng-container class="ion-padding-vertical" matColumnDef="reader">
    <mat-header-cell class="ion-padding" *matHeaderCellDef>
      <strong>Lecturación (cm3)</strong>
    </mat-header-cell>
    <mat-cell class="ion-wrap ion-padding" *matCellDef="let element">
      <ion-text color="primary">
        {{ element.readering_actual | currency: 'cm3'}}
      </ion-text>
    </mat-cell>
  </ng-container> -->

      <ng-container class="ion-padding-vertical" matColumnDef="consume">
        <mat-header-cell class="ion-padding" *matHeaderCellDef>
          <strong>Consumo (m3)</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-padding" *matCellDef="let element">
          <ion-text color="primary">
            {{ element.water_consume | currency: 'm3'}}
          </ion-text>
        </mat-cell>
      </ng-container>

      <ng-container class="ion-padding-vertical ion-hide-md-down" matColumnDef="amount">
        <mat-header-cell class="ion-padding ion-hide-md-down" *matHeaderCellDef>
          <strong>Monto a cobrar (Bs.)</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-justify-content-between ion-padding ion-hide-md-down" *matCellDef="let element">
          <ion-label class="ion-margin-end" color="danger">
            {{ element.amount | currency: 'Bs.' }}
          </ion-label>
          <section class="has-display--flex ion-align-items-center has-display--flex--column" *ngIf="element.isPay">
            <ion-text> <strong> Cancelado</strong></ion-text> <br>
            <ion-icon class="ion-margin-star" size="large" color="success" name="checkmark-circle-outline"></ion-icon>
          </section>
          <section class="has-display--flex ion-align-items-center has-display--flex--column" *ngIf="!element.isPay">
            <ion-text> <strong> Por cobrar</strong></ion-text> <br>
            <ion-icon class="ion-margin-star" size="large" color="warning" name="alert-circle-outline"></ion-icon>
          </section>
        </mat-cell>
      </ng-container>

      <ng-container class="ion-padding-vertical ion-hide-md-down" matColumnDef="sewerage">
        <mat-header-cell class="ion-padding ion-hide-md-down" *matHeaderCellDef>
          <strong>Alcant.</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-padding ion-hide-md-down" *matCellDef="let element">
          <ion-text color="primary">
            {{ element.sewerage | currency: 'Bs'}}
          </ion-text>
        </mat-cell>
      </ng-container>

      <ng-container class="ion-padding-vertical ion-hide-md-down" matColumnDef="debts">
        <mat-header-cell class="ion-padding ion-hide-md-down" *matHeaderCellDef>
          <strong>Multa</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-padding ion-hide-md-down" *matCellDef="let element">
          <ion-text color="primary">
            {{ (element.debts?element.debts:0) | currency: 'Bs'}}
          </ion-text>
        </mat-cell>
      </ng-container>

      <ng-container class="ion-padding-vertical" matColumnDef="total">
        <mat-header-cell class="ion-padding" *matHeaderCellDef>
          <strong>Total</strong>
        </mat-header-cell>
        <mat-cell class="ion-wrap ion-padding" *matCellDef="let element">
          <ion-text color="primary">
            <strong> {{ (element.sewerage + element.amount + element.debts) | currency: 'Bs'}}</strong>
          </ion-text>
        </mat-cell>
      </ng-container>

      <ng-container class="ion-padding-vertical" matColumnDef="action">
        <mat-header-cell class="ion-padding" [ngClass]="{'ion-hide': isViewSmall}" *matHeaderCellDef> </mat-header-cell>
        <mat-cell class="ion-justify-content-end" [ngClass]="{'ion-hide': isViewSmall}"
          *matCellDef="let element; let i = index;">
          <button mat-icon-button expand="block" slot="end" fill="clear" color="primary"
            [matMenuTriggerFor]="actionsPartner" *ngIf="!element.isPay && i === 0">
            <mat-icon aria-label="label">more_horiz</mat-icon>
            <!-- (click)="managementPartners($event)" (click)="deletePartner(element.id)" -->
            <mat-menu #actionsPartner xPosition="before">
              <button mat-menu-item (click)="showReaderFormComponent(optionSelectedByUser.PAY, element)">
                <ion-icon class="ion-margin-end" color="success" slot="start" name="cash-outline">
                </ion-icon>
                <ion-text color="success"><strong> Cobrar</strong> </ion-text>
              </button>
              <button mat-menu-item (click)="showReaderFormComponent(optionSelectedByUser.MODIFY, element)">
                <!-- [swal]="deletePartner -->
                <ion-icon class="ion-margin-end" color="primary" slot="start" name="pencil-outline">
                </ion-icon>
                <ion-text color="primary"><strong> Modificar</strong> </ion-text>
              </button>
              <button mat-menu-item *ngIf="false">
                <!-- [swal]="deletePartner -->
                <ion-icon class="ion-margin-end" color="danger" slot="start" name="trash-outline">
                </ion-icon>
                <ion-text color="danger"> <strong>Eliminar</strong> </ion-text>
              </button>
            </mat-menu>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="has-hover-in" *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
  </section>
</article>