<article class="partner-list-data-container">
  <mat-table class="table-container" [dataSource]="partnersList">
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef class="ion-hide-md-down">
        <strong>Código</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [routerLink]="['detalle/' + element.id]" class="ion-hide-md-down">
        <ion-text>
          {{ element.id }}
        </ion-text>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <strong>Nombre del Socio</strong>
      </mat-header-cell>
      <mat-cell class="row-content" *matCellDef="let element" [routerLink]="['detalle/' + element.id]">
        <ul class="extra-info__container">
          <li>
            <mat-icon class="material-icons-outlined ion-margin-end ion-hide-md-down" aria-hidden="false"
              aria-label="icon credential">
              person</mat-icon>
            <ion-text color="primary">
              {{ element.last_name }} {{ element.name }}
            </ion-text>
          </li>
          <li>
            <mat-icon class="material-icons-outlined ion-margin-end ion-hide-md-down" aria-hidden="false"
              aria-label="icon credential">
              badge</mat-icon>
            {{ element.identity_card.ci_number }} {{ element.identity_card.complement }} {{ element.identity_card.issued
            +
            '.' | titlecase }}
          </li>
          <li>
            <mat-icon class="material-icons-outlined ion-margin-end ion-hide-md-down" aria-hidden="false"
              aria-label="icon phone">
              phone_android</mat-icon>
            {{ element.telephones[0] }}
          </li>
        </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comunnity">
      <mat-header-cell *matHeaderCellDef class="ion-hide-md-down">
        <strong>Comunidad</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [routerLink]="['detalle/' + element.id]" class="ion-hide-md-down">
        <ion-text>
          {{ element.community.location }}
        </ion-text>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="observations">
      <mat-header-cell *matHeaderCellDef>
        <strong>Observaciones</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [routerLink]="['detalle/' + element.id]">
        <section class="water-meter-observations">
          <ion-label class="water-meter-cut" *ngIf="element.waterCut?.cut_non_payment">
            {{statusWaterMeterEnum.CUT_NOT_PAYMENT}}
          </ion-label>

          <ion-label class="water-meter-broken" *ngIf="element.waterCut?.meter_broken">
            {{statusWaterMeterEnum.BROKEN}}
          </ion-label>

          <ion-label class="water-meter-without-observations"
            *ngIf="!element.waterCut?.meter_broken && !element.waterCut?.cut_non_payment">
            {{statusWaterMeterEnum.DEFAULT}}
          </ion-label>
        </section>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="partner-action">
      <mat-header-cell *matHeaderCellDef>
        <strong>Nro. De Acción</strong>
      </mat-header-cell>
      <mat-cell class="row-content" *matCellDef="let element" [routerLink]="['detalle/' + element.id]">
        <p> {{ element.action? element.action.action_code : 'Sin Medidor' }} </p>
        <ul class="extra-info__container">
          <li *ngIf="element.action">
            Cuota {{ element.action.action_sale.action_payments[element.action.action_sale.action_payments.length -
            1].quota }} /{{ element.action.action_sale.quotas_number }}
          </li>
          <li style="opacity: 1;">
            <ion-badge class="ion-margin-end" color="warning" mode="ios" *ngIf="element.debtor"> Deudor </ion-badge>
            <button color="warn" mat-icon-button *ngIf="element.debtor" (click)="notificationsSwale(element)">
              <mat-icon class="material-icons-outlined ion-margin-end" aria-hidden="false"
                aria-label="icon notification">
                notifications_active</mat-icon>
            </button>
          </li>
        </ul>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef class="ion-hide-md-down">
        <strong>Activo</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [routerLink]="['detalle/' + element.id]" class="ion-hide-md-down">
        <ion-checkbox mode="ios" color="primary" [checked]="element.active" [disabled]="true"></ion-checkbox>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="qr-code">
      <mat-header-cell *matHeaderCellDef>
        <strong></strong>
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <ion-button fill="clear" (click)="generateQrCodeToPartner(element)">
          <ion-icon size="large" name="qr-code-outline"></ion-icon>
        </ion-button>
      </mat-cell>
    </ng-container>

    <!-- TODO -->
    <!-- <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let element as index i">


      <button mat-icon-button expand="block" slot="end" fill="clear" color="primary"
        [matMenuTriggerFor]="actionsPartner">
        <mat-icon aria-label="label">more_horiz</mat-icon>
        (click)="managementPartners($event)" (click)="deletePartner(element.id)"
        <mat-menu #actionsPartner xPosition="before">
          <button mat-menu-item [routerLink]="['/admin/socios/editar/' + element.id]">
            <ion-icon class="ion-margin-end" color="primary" slot="start" name="pencil-outline">
            </ion-icon>
            <ion-text color="primary">
              Modificar
            </ion-text>
          </button>
          <button mat-menu-item [swal]="deleteSwal">
            <ion-icon class="ion-margin-end" color="danger" slot="start" name="trash-outline">
            </ion-icon>
            <ion-text color="danger">
              Eliminar
            </ion-text>
          </button>

        </mat-menu>
      </button>
    </mat-cell>
  </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row class="has-hover-in" *matRowDef="let row; columns: displayedColumns">
    </mat-row>
  </mat-table>
</article>