@import '../../../../../../../assets/mixins/helper';
@import '../../../../../../../assets/mixins/tipografia.scss';

:host {
  width: 100% !important;
}

.table-container {
  width: 100%;

  @include table-content;


  p {
    @include detailDesk;
    margin-bottom: 10px;
  }

  .extra-info__container {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      ion-badge {
        padding: 5px 10px;
      }
    }
  }

  .mat-column-status,
  .mat-column-qr-code {
    max-width: 100px;
  }

  .mat-column-name {
    max-width: 450px;
  }

  .mat-column-observations {
    max-width: 160px;
  }
}

.water-meter-observations {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}

.water-meter-cut,
.water-meter-broken,
.water-meter-without-observations {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  color: #3A4651;
  font-weight: 500;
  box-sizing: border-box;
}

.water-meter-cut {
  background-color: #F9C74F;
}

.water-meter-broken {
  background-color: #ee5c5e;
  color: #fffefe;
  font-weight: 600;
}

.water-meter-without-observations {
  background-color: #31db86;
}

.menu-item-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.partner-list-data-container {
  height: 100%;
  overflow-y: auto;
}