<app-header></app-header>
<ion-content color="medium">
  <ion-toolbar class="toolbar-container">
    <ion-title slot="start" class="toolbar-expenses-title wrap-text">{{sliderIndex === 0? 'Historial de gastos' :
      'Registrar nuevo gasto'}}</ion-title>
    <ng-container *ngIf="expenses$ && expenses$ | async as expenses">
      <ion-button *ngIf="expenses.length > 0 && sliderIndex === 0" slot="end" fill="outline" color="primary"
        shape="round" expand="block" class="ion-text-capitalize ion-margin-end" (click)="generateReport()"
        [size]="buttonSize">
        <ion-icon slot="start" name="download-outline"></ion-icon>
        <ion-text color="primary" class="ion-margin-start ion-hide-md-down">
          Exportar
        </ion-text>
      </ion-button>
    </ng-container>
    <ion-button slot="end" *ngIf="sliderIndex === 1" (click)="changeSlide(0)" color="primary" shape="round"
      expand="block" class="ion-text-capitalize" [size]="buttonSize">
      <ion-icon slot="start" name="list"></ion-icon>
      <ion-text style="margin-left: 8px;" class="ion-margin-start ion-hide-md-down">
        Historial de gastos
      </ion-text>
    </ion-button>
    <ion-button slot="end" *ngIf="sliderIndex === 0" (click)="changeSlide(1)" color="primary" shape="round"
      expand="block" class="ion-text-capitalize ion-hide-md-down">
      <ion-icon style="margin-right: 8px;" slot="start" name="add"></ion-icon>
      Nuevo gasto
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar *ngIf="load" type="indeterminate" reversed="true" color="primary" buffer="0.2"> </ion-progress-bar>

  <ion-slides class="has-margin-top--70" mode="md" pager="md" scrollbar="md" #slideActivity [pager]="true"
    [options]="slideOpts">
    <ion-slide>
      <ion-grid class="expenses-grid-container" [ngClass]="{'padding-top--40' : collapsed}">
        <ion-row [@fadeInOut]="collapsed">
          <ion-col *ngIf="expensesList$">
            <app-expenses-reports [expenseCategories]="expensesList$ | async"></app-expenses-reports>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center filter-row-container">
          <ion-col size="12">
            <h4>
              <ion-text> Tabla resumen de gastos
                <strong> {{ today | date :'MMMM y' |
                  titlecase}}
                </strong>
              </ion-text>
            </h4>
          </ion-col>
          <ion-col sizeMd="5" sizeXl="3" class="ion-hide-sm-down">
            <ion-item>
              <ion-label>Filtrar</ion-label>
              <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event)">
                <ion-select-option [value]="null">Todos</ion-select-option>
                <ion-select-option [value]="expenseCategory" *ngFor="let expenseCategory of expensesList$ | async">
                  {{expenseCategory.description | titlecase}}
                </ion-select-option>
              </ion-select>
              <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col sizeMd="5" sizeXl="3" class="ion-hide-sm-down">
            <ion-item>
              <input class="input-date" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="false" [startView]="startView"
                (monthSelected)="chosenMonthHandler($event)"></mat-datepicker>
            </ion-item>
          </ion-col>

          <article class="expand-collapse-btn-container">
            <ion-button color="primary" class="ion-no-padding" shape="round" (click)="toggleExpandAndCollapsed()">
              <ion-icon [name]="iconName"></ion-icon>
            </ion-button>
          </article>
        </ion-row>

        <ion-row class="ion-justify-content-center has-height--100 has-overflow--hidden row-data-container">
          <ng-container *ngIf="expenses$ && expenses$ | async as expenses">
            <ion-col class="has-height--100" size="12" *ngIf="expenses && expenses.length > 0;else emptyData">
              <article class="has-height--100">
                <app-expenses-reports-list
                  [totalAmountExpenses]="expenses | filterExpensesByCategory:expenseCategotySelected | calculateTotalAmountExpenses"
                  [expenses]="expenses | filterExpensesByCategory:expenseCategotySelected"></app-expenses-reports-list>
                <!-- <app-empty-search *ngIf="expenses.length === 0"></app-empty-search> -->
                <!-- <mat-paginator *ngIf="paginator" (page)="changePage($event)" [length]="paginator.total"
              [pageSizeOptions]="[paginator.per_page]" aria-label="Select page">
            </mat-paginator> -->
              </article>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ng-template #emptyData>
        <app-empty-data [showTitle]="false" [btnTitle]="'Agregar Nuevo Gasto'" (btnEventEmitter)="changeSlide(1)">
        </app-empty-data>
      </ng-template>
    </ion-slide>

    <ion-slide>
      <ion-grid class="has-height--100 ion-grid-cards-container">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-text color="primary">
              <h1>¿Qué tipo de gasto registrará...?</h1>
            </ion-text>
          </ion-col>
          <ion-col sizeXs="10" sizeSm="6" sizeMd="5" sizeXl="4" class="ion-padding"
            *ngFor="let expenseCategory of expensesList$ | async">
            <app-expenses-card [expenseCategory]="expenseCategory"></app-expenses-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <mat-tab-group [selectedIndex]="1" *ngIf="false">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_list_bulleted</mat-icon>
        Reportes
      </ng-template>
      <app-expenses-reports></app-expenses-reports>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>grid_view</mat-icon>
        Tareas
      </ng-template>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col sizeXs="12" sizeMd="6" sizeXl="4" class="ion-padding"
            *ngFor="let expenseCategory of expensesList$ | async">
            <app-expenses-card [expenseCategory]="expenseCategory"></app-expenses-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>
  </mat-tab-group>

  <ion-fab class="ion-hide-sm-up" vertical="bottom" horizontal="end" slot="fixed" (click)="changeSlide(1)"
    *ngIf="sliderIndex === 0">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <section class="mat-datepicker-item-fab ion-hide-sm-up" *ngIf="sliderIndex === 0">
    <input class="input-dat input-date-fab-small" matInput [formControl]="yearSelected" [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="false" [startView]="startView"
      (monthSelected)="chosenMonthHandler($event)"></mat-datepicker>
  </section>
</ion-content>

<section *ngIf="load" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</section>