@import '../../../../../assets/mixins/media-breackpoints';

.input-date {
  background: white;
  padding: 5px 16px;
  border: 1px solid #00000025;
  border-radius: 8px;
  margin-right: 6px;
  width: 100%;
}

.row-data-container {
  background-color: var(--ion-color-medium);
  z-index: 2;
  padding: 10px;
}

.filter-row-container {
  gap: 15px;
  position: relative;
  background-color: var(--ion-color-medium);

  h4 {
    margin-bottom: 0;
  }
}

ion-slides {
  height: calc(100% - 56px);
}

.expenses-grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  @include large {
    height: 100%;
  }
}

.padding-top--40 {
  padding-top: 40px;

  @include medium {
    padding-top: 0px;
  }
}

.mat-datepicker-item-fab {
  position: absolute;
  right: 9px;
  bottom: 80px;
  background-color: var(--ion-color-dark);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;

  mat-datepicker-toggle {
    color: var(--ion-color-light);
  }
}

.input-date-fab-small {
  width: 0;
  height: 0;
  border: none;
  position: absolute;
  background-color: transparent;
}

.ion-grid-cards-container {
  overflow-y: auto;
}

.toolbar-expenses-title {
  font-size: 18px;
  min-width: 80%;
  max-width: 80%;

  @include medium {
    font-size: 20px;
    min-width: 40%;
    max-width: 40%;
  }
}