.readered-data {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;

  &__user {
    flex: 1 1 auto;

    &-avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      position: relative;
      left: -15px;
    }

    &-info {
      flex: 1 1 auto;
      overflow-x: hidden;
    }
  }

  &--selected {
    background: #0284C935;
  }
}

.readered-data:hover {
  box-shadow: 0px 4px 9px #00000025;
  animation: 0.3s;
  cursor: pointer;
}

.water-meter-number-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: -12px;
  background: var(--ion-color-dark);
  color: var(--ion-color-tertiary);
  border-radius: 10px;
  padding: 0 5px;
  padding-right: 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  height: 19px;

  &__icon {
    font-size: 18px;
  }

  &__text {
    margin-left: 2px;
    font-weight: bold;
    color: var(--ion-color-light);
  }
}

.water-meter-broken {
  border: 4px solid var(--ion-color-danger);
}

.water-cut-partner {
  border: 4px solid var(--ion-color-warning);
}