<section class="readered-data ion-margin-bottom ion-align-items-center"
  [ngClass]="{'readered-data--selected': index === actualIndexSelected}">
  <section class="has-display--flex ion-align-items-center readered-data__user">
    <img class="readered-data__user-avatar" [matTooltip]="titleInfo"
      [ngClass]="{'water-meter-broken':partner?.partner?.waterCut?.meter_broken, 'water-cut-partner' : partner?.partner?.waterCut?.cut_non_payment}"
      [src]="partner.partner.gender === gender.FEMALE?'assets/images/reader/female-user.svg':'assets/images/reader/male-user.svg'"
      alt="user-icon" />

    <section class="has-display--flex has-display--flex--column ion-justify-content-center readered-data__user-info">
      <ion-label class="is-text is-text--partner">{{partner.partner.last_name + ' ' + partner.partner.name}}</ion-label>
      <section class="has-display--flex ion-justify-content-between">
        <section class="has-display--flex ion-align-items-center ion-justify-content-between">
          <img src="assets/images/reader/measurer.svg" alt="" />
          <ion-label *ngIf="(partner.water_consumed | generateDebtsWaterConsumePay:dataPrice) as waterConsume">
            {{waterConsume.length > 0? (waterConsume[0].water_consume
            | currency: 'm3') :
            'Sin Lectura'}}</ion-label>
        </section>
        <section class="has-display--flex ion-align-items-center ion-justify-content-between">
          <img *ngIf="partner.water_consumed.length > 0? !partner.water_consumed[0].isPay : true"
            src="assets/images/reader/cash.svg" alt="" />
          <ion-label *ngIf="(partner.water_consumed | generateDebtsWaterConsumePay:dataPrice) as waterConsume">
            {{waterConsume.length > 0 && !waterConsume[0].isPay?
            ((waterConsume[0].amount +
            waterConsume[0].sewerage +
            waterConsume[0].debts) | currency:
            'Bs'): waterConsume.length > 0 && waterConsume[0].isPay?
            '':'Sin Lectura'
            }}</ion-label>
        </section>
        <img *ngIf="partner.water_consumed.length > 0? partner.water_consumed[0].isPay : false"
          src="assets/images/reader/check-icon.svg" alt="check">
      </section>
    </section>
  </section>
  <img src="assets/images/reader/detail.svg" alt="detail" />

  <section class="water-meter-number-container">
    <ion-icon class="water-meter-number-container__icon" name="stopwatch-outline"></ion-icon>
    <ion-label class="water-meter-number-container__text">
      {{partner.partner?.waterMeter?.water_meter_number | uppercase}}
    </ion-label>
  </section>
</section>