.mat-column-is-pay,
.mat-column-amount,
.mat-column-water-consume {
  max-width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-right: 20px;
  box-sizing: border-box;
}