<mat-table class="table-container" [dataSource]="waterConsumeData">
  <ng-container matColumnDef="month-of-consume">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong>Mes de consumo</strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ion-text color="dark">
        {{ element.dateToRead | date:'MMMM' | titlecase }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date-to-read">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong>Fecha Lecturación</strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ion-text color="dark">
        {{ element.dateToRead | date }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date-to-pay">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong>Fecha de pago</strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ion-text color="dark">
        {{ element.dateToPay? (element.dateToPay | date ):'--------------' }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="water-consume">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong>Consumo</strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ion-text color="dark">
        {{ element.water_consume + ' m3' }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong>Monto</strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ion-text color="dark">
        {{ element.amount | currency:"Bs" }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="is-pay">
    <mat-header-cell *matHeaderCellDef>
      <ion-label color="primary">
        <strong></strong>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">

      <ion-label *ngIf="!element.isPay">
        <ion-text color="warning"> <strong> Por cobrar</strong></ion-text>
        <ion-icon size="large" color="warning" name="alert-circle-outline"></ion-icon>
      </ion-label>

      <ion-label *ngIf="element.isPay">
        <ion-text color="success"> <strong> Cobrado</strong></ion-text><br>
        <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
      </ion-label>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="has-hover-in" *matRowDef="let row; columns: displayedColumns">
  </mat-row>
</mat-table>

<ion-row class="ion-justify-content-center" *ngIf="!waterConsumeData.length">
  <ng-container>
    <app-empty-data [showButton]="false" [showTitle]="false">
    </app-empty-data>
  </ng-container>
</ion-row>