<!-- <ion-content color="medium" class="ion-padding-vertical"> -->

<ion-grid class="ion-margin-horizontal ion-padding-top expenses-report-container">
  <ion-row class="ion-justify-content-between">
    <ion-col class="col-first-chart ion-hide-md-down" sizeSm="12" sizeMd="6" sizeLg="6" offsetMd="0">
      <article class="main-chart__containe chard-container" sizeLg="12">
        <h4 class="ion-text-center">Resumen De Gastos (Categorizados)</h4>
        <app-pie *ngIf="expenseCategories" [single]="expenseList | buildExpensesToPieChart:expenseCategories"></app-pie>
      </article>
    </ion-col>

    <ion-col class="chard-container" sizeSm="12" sizeMd="6" sizeLg="6" offsetMd="0">
      <article class="main-chart__containe chard-container" sizeLg="12">
        <h4 class="ion-text-center">Histórico de Gastos Gestión {{today | date :'y' }}</h4>
        <app-vertical-bar *ngIf="expenseList" [single]="expenseList | buildExpensesToShowChart"></app-vertical-bar>
      </article>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- <ion-col size="6" class="ion-text-">
        <h3>Tabla resumen de gastos</h3>
      </ion-col> -->
    <ion-col sizeXs="12" sizeSm="6" class="ion-text-en ion-text-left">
      <h3>Total de Gastos: <ion-text color="primary" class="ion-margin-start"> {{ totalAmountExpenses | currency: 'Bs'
          }}</ion-text></h3>
    </ion-col>
  </ion-row>
  <!--
    <ion-row>
      <ion-col class="col-container ion-margin-bottom" sizeSm="4" sizeMd="2">
        <ion-item class="filter">
          <ion-label color="primary">Filtrar</ion-label>
          <ion-select placeholder="" interface="popover" (ionChange)="filterSelect($event)">
            <ion-select-option value="all">Todos</ion-select-option>
            <ion-select-option [value]="1">Cobro de multa</ion-select-option>
            <ion-select-option [value]="0">Cobro de accion</ion-select-option>
            <ion-select-option value="En Corte">Otros ingresos</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="filter-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col class="col-container ion-hide-md-down ion-margin-bottom" sizeMd="8">
        <ion-searchbar class="search-container" mode="md" placeholder="Ingrese Nombre del socio" animated type="text"
          autocomplete="on" [debounce]="250" (ionChange)="searchExpense($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col class="col-container ion-margin-bottom" sizeSm="8" sizeMd="2">
        <ion-item class="datetime">
          <ion-datetime doneText="Ok" cancelText="Cancelar">
          </ion-datetime>
          <ion-icon slot="end" name="calendar-outline" color="primary"></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-expenses-reports-list></app-expenses-reports-list>
      </ion-col>
    </ion-row> -->
</ion-grid>

<!-- </ion-content> -->