@import '../../../../../../../assets/mixins/helper';
@import '../../../../../../../assets/scss/angular-material';

@include chart-container;

.col-container {
  border: 1px solid #b2b2b235;
  border-radius: 10px;
}

.search-container {
  padding: 0px;
}

.col-container ion-item.filter {
  border-radius: 10px 0px 0px 10px;
}

.col-container ion-item.datetime {
  border-radius: 0px 10px 10px 0px;
}

.chard-container {
  background-color: var(--ion-color-dark);
  border-radius: 8px;
  color: var(--ion-color-light);
  margin-top: 15px;
  justify-content: center;
  overflow-x: auto;
}

.expenses-report-container {
  border-bottom: 1px solid var(--ion-color-secondary);
}

@media (min-width: 768px) {
  .chard-container {
    margin: 0;
  }

  .col-first-chart {
    padding-right: 15px;
  }
}