<mat-form-field class="filter-date__container">
  <mat-label>Año</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date" readonly>
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event, dp)"
                  panelClass="example-month-picker">
                  <!-- (monthSelected)="chosenMonthHandler($event, dp)" -->
  </mat-datepicker>
  <button
    *ngIf="date.value"
    type="button"
    color="primary"
    matSuffix
    mat-icon-button
    (click)="reset()">
    <mat-icon aria-hidden="close" aria-label="limpiar fecha">close</mat-icon>
  </button>
</mat-form-field>
